# 数据分析

In [1]:
# -*- coding: utf-8 -*-

import pandas as pd
import numpy as np
import cx_Oracle as oracle

import os 
os.environ['NLS_LANG'] = 'SIMPLIFIED CHINESE_CHINA.UTF8'

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [3]:
#conn = oracle.connect('NNSCUSER','NNSCUSER','192.168.1.171/orcl')

In [4]:
table_name = ['CMP3$97678',
              'MT_CF_PAGEQUERY',
              'MT_CF_QUERYCHART',
              'MT_CF_QUERYCOLUMNALARM',
              'MT_CF_QUERYCOLUMNS',
              'MT_CF_QUERYFUNCTION',
              'MT_CF_QUERYSINGCHART',
              'MT_DC_CONVEYANCE_PRODUCTION',
              'MT_DC_PB_MACHINEAREA',
              'MT_DC_PB_MACHINEGROUP',
              'MT_DC_PB_PARAMCODE',
              'MT_DC_PB_REJECTCODE',
              'MT_DC_PB_REJECTTYPE',
              'MT_DC_PB_REQUESTCODE',
              'MT_DC_PB_STATUSCODE',
              'MT_DC_PB_STOPCODE',
              'MT_DC_PB_WASTECODE',
              'MT_DC_PB_WEIGHT_CODE',
              'MT_DC_PM_LONGSTOPCODE',
              'MT_DC_PM_MP_FILETYPE',
              'MT_DC_PM_MP_GD102DATA_CUR',
              'MT_DC_PM_MP_GD1057DATA_CUR',
              'MT_DC_PM_MP_PT102DATA_CUR',
              'MT_DC_PM_MP_PT1057DATA_CUR',
              'MT_DC_PM_MP_TS102DATA',
              'MT_DC_ZX102_CUR',
              'MT_PB_CLASS',
              'MT_PB_INFOCLASS',
              'MT_PB_ISVALID',
              'MT_PB_MACHINE',
              'MT_PB_MACHINECLASS',
              'MT_PB_MACHINEPART',
              'MT_PB_MACHINESTATUS',
              'MT_PB_MACHINETYPE',
              'MT_PB_MACHINETYPEPART',
              'MT_PB_NEWSTYPE',
              'MT_PB_NOTICEBOARD',
              'MT_PB_NOTICERECEIVE',
              'MT_PB_ORG',
              'MT_PB_POST',
              'MT_PB_PRODUCT',
              'MT_PB_PRODUCTCATENA',
              'MT_PB_SHIFT',
              'MT_PB_SHIFTARRANGE',
              'MT_PB_UNIT',
              'MT_QL_PARAMETER',
              'TEST_DATA',
              'TEST_MAIN']

tables = {}
table_num = [7, 11, 15, 20, 21, 22, 23, 25, 29, 40, 46, 47, 1, 2, 4, 6, 10, 14, 16, 17, 30, 32, 33]
# for n in table_num:
#     tn = table_name[n]
#     sql = 'select * from ' + tn
#     df = pd.read_sql(sql, conn)
#     tables[tn] = df
#     df.to_csv(tn + '.csv')

In [5]:
# tb_20 = tables[table_name[20]]
tb_20 = pd.read_csv('/Users/jing/pydata/datasets/plantiq/广西卷烟厂/MT_DC_PM_MP_GD102DATA_CUR.csv')
# tb_21 = tables[table_name[21]]
tb_21 = pd.read_csv('/Users/jing/pydata/datasets/plantiq/广西卷烟厂/MT_DC_PM_MP_GD1057DATA_CUR.csv')
# tb_22 = tables[table_name[22]]
tb_22 = pd.read_csv('/Users/jing/pydata/datasets/plantiq/广西卷烟厂/MT_DC_PM_MP_PT102DATA_CUR.csv')
# tb_23 = tables[table_name[23]]
tb_23 = pd.read_csv('/Users/jing/pydata/datasets/plantiq/广西卷烟厂/MT_DC_PM_MP_PT1057DATA_CUR.csv')
# tb_46 = tables[table_name[46]]
tb_46 = pd.read_csv('/Users/jing/pydata/datasets/plantiq/广西卷烟厂/TEST_DATA.csv')
# tb_47 = tables[table_name[47]]
tb_47 = pd.read_csv('/Users/jing/pydata/datasets/plantiq/广西卷烟厂/TEST_MAIN.csv')
# tb_07 = tables[table_name[7]]
# tb_25 = tables[table_name[25]]

## 表20  MT_DC_PM_MP_GD102DATA_CUR  包装机生产数据

In [6]:
# tb_20_new = tb_20[['PRODUCEDATE', 'PB_SHIFT_ID', 'PM_MP_MACHINE_ID', 'PB_PRODUCT_ID', 'GATHERDATETIME', 'INTERNALSTOPTIME',
#                    'RUNTIME', 'PRODUCETIME', 'THEORETICALPRODUCTION','REALPRODUCTION', 'REJECTPRODUCTION',
#                    'EFFPRODUCTION', 'EFFMACHINE', 'STOPCNT']]
# tb_20_new.head()

In [7]:
# tb_20_clear = tb_20_new.query('INTERNALSTOPTIME < 50000 & RUNTIME < 50000 & PRODUCETIME < 50000 & THEORETICALPRODUCTION < 500000 & REJECTPRODUCTION < 20000')

In [8]:
# #选择需要绘制散点图的列名  
# cols = ['PRODUCETIME', 'REALPRODUCTION', 'REJECTPRODUCTION']
# #通过seaborn绘制散点图
# sns.pairplot(tb_20_clear.loc[:, cols], size=3)
# plt.show()

## 表22  MT_DC_PM_MP_PT102DATA_CUR  卷接机生产数据

In [9]:
tb_22_new = tb_22[['PRODUCEDATE', 'PB_SHIFT_ID', 'PM_MP_MACHINE_ID', 'PB_PRODUCT_ID', 'GATHERDATETIME', 'TOTALPRODUCTION', 'FILTERTIP',
                   'TOTALWASTE', 'TOTALWASTEPCT', 'EFFMACHINE', 'EFFPRODUCTION', 'MACHINESPEED', 'RUNTIME',
                   'TOTALSTOPTIME', 'TOTALSTOPCNT']]
tb_22_new.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PRODUCEDATE</th>
      <th>PB_SHIFT_ID</th>
      <th>PM_MP_MACHINE_ID</th>
      <th>PB_PRODUCT_ID</th>
      <th>GATHERDATETIME</th>
      <th>TOTALPRODUCTION</th>
      <th>FILTERTIP</th>
      <th>TOTALWASTE</th>
      <th>TOTALWASTEPCT</th>
      <th>EFFMACHINE</th>
      <th>EFFPRODUCTION</th>
      <th>MACHINESPEED</th>
      <th>RUNTIME</th>
      <th>TOTALSTOPTIME</th>
      <th>TOTALSTOPCNT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2015-11-13</td>
      <td>1</td>
      <td>115</td>
      <td>10001586</td>
      <td>2015-11-13 15:59:59</td>
      <td>2</td>
      <td>742</td>
      <td>2377</td>
      <td>0.09</td>
      <td>97.1</td>
      <td>97.1</td>
      <td>7196</td>
      <td>28980</td>
      <td>2160</td>
      <td>34</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2015-11-13</td>
      <td>1</td>
      <td>102</td>
      <td>10001586</td>
      <td>2015-11-13 16:00:02</td>
      <td>2</td>
      <td>680</td>
      <td>5643</td>
      <td>0.19</td>
      <td>90.4</td>
      <td>90.4</td>
      <td>7246</td>
      <td>27720</td>
      <td>3420</td>
      <td>37</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2015-11-13</td>
      <td>1</td>
      <td>113</td>
      <td>10001586</td>
      <td>2015-11-13 15:59:58</td>
      <td>3</td>
      <td>813</td>
      <td>16812</td>
      <td>0.59</td>
      <td>96.8</td>
      <td>103.7</td>
      <td>7269</td>
      <td>29700</td>
      <td>1440</td>
      <td>22</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2015-11-13</td>
      <td>1</td>
      <td>101</td>
      <td>10001586</td>
      <td>2015-11-13 16:00:08</td>
      <td>3</td>
      <td>784</td>
      <td>26052</td>
      <td>0.86</td>
      <td>102.4</td>
      <td>102.4</td>
      <td>0</td>
      <td>28980</td>
      <td>2160</td>
      <td>12</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2015-11-13</td>
      <td>1</td>
      <td>119</td>
      <td>10001586</td>
      <td>2015-11-13 16:01:06</td>
      <td>0</td>
      <td>0</td>
      <td>1574</td>
      <td>0.43</td>
      <td>5.8</td>
      <td>8.2</td>
      <td>6738</td>
      <td>2880</td>
      <td>28260</td>
      <td>26</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
tb_22_clear = tb_22_new.query('TOTALPRODUCTION < 1000000 & FILTERTIP < 1500000 & TOTALWASTE > 0 & RUNTIME > 0 & TOTALSTOPTIME > 0')

### 单台设备生产数据

In [11]:
tb22_dt = tb_22_clear.query("PM_MP_MACHINE_ID == '114'").sort_values('GATHERDATETIME')
tb22_dt

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PRODUCEDATE</th>
      <th>PB_SHIFT_ID</th>
      <th>PM_MP_MACHINE_ID</th>
      <th>PB_PRODUCT_ID</th>
      <th>GATHERDATETIME</th>
      <th>TOTALPRODUCTION</th>
      <th>FILTERTIP</th>
      <th>TOTALWASTE</th>
      <th>TOTALWASTEPCT</th>
      <th>EFFMACHINE</th>
      <th>EFFPRODUCTION</th>
      <th>MACHINESPEED</th>
      <th>RUNTIME</th>
      <th>TOTALSTOPTIME</th>
      <th>TOTALSTOPCNT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8347</th>
      <td>2016-05-28</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-28 15:57:57</td>
      <td>135</td>
      <td>36663</td>
      <td>2094</td>
      <td>1.52</td>
      <td>4.10</td>
      <td>7.10</td>
      <td>0</td>
      <td>16620</td>
      <td>14520</td>
      <td>49</td>
    </tr>
    <tr>
      <th>8900</th>
      <td>2016-05-28</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-28 23:52:32</td>
      <td>2705</td>
      <td>679060</td>
      <td>4872</td>
      <td>0.18</td>
      <td>88.90</td>
      <td>90.40</td>
      <td>0</td>
      <td>25020</td>
      <td>3420</td>
      <td>27</td>
    </tr>
    <tr>
      <th>9052</th>
      <td>2016-05-29</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-29 07:12:45</td>
      <td>2356</td>
      <td>592808</td>
      <td>6754</td>
      <td>0.29</td>
      <td>79.20</td>
      <td>79.20</td>
      <td>0</td>
      <td>18360</td>
      <td>7680</td>
      <td>34</td>
    </tr>
    <tr>
      <th>9598</th>
      <td>2016-05-29</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-29 15:47:09</td>
      <td>2725</td>
      <td>684564</td>
      <td>8004</td>
      <td>0.29</td>
      <td>91.80</td>
      <td>91.80</td>
      <td>0</td>
      <td>26820</td>
      <td>3720</td>
      <td>18</td>
    </tr>
    <tr>
      <th>9768</th>
      <td>2016-05-30</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-30 15:54:06</td>
      <td>2479</td>
      <td>623010</td>
      <td>5283</td>
      <td>0.21</td>
      <td>82.10</td>
      <td>69.20</td>
      <td>0</td>
      <td>23340</td>
      <td>5880</td>
      <td>32</td>
    </tr>
    <tr>
      <th>7484</th>
      <td>2016-05-30</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-30 23:57:53</td>
      <td>3001</td>
      <td>753795</td>
      <td>6788</td>
      <td>0.22</td>
      <td>98.60</td>
      <td>98.60</td>
      <td>0</td>
      <td>26160</td>
      <td>2580</td>
      <td>28</td>
    </tr>
    <tr>
      <th>7656</th>
      <td>2016-05-31</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 05:01:24</td>
      <td>1460</td>
      <td>366961</td>
      <td>3996</td>
      <td>0.27</td>
      <td>71.10</td>
      <td>75.50</td>
      <td>7035</td>
      <td>13380</td>
      <td>4800</td>
      <td>21</td>
    </tr>
    <tr>
      <th>7660</th>
      <td>2016-05-31</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 07:14:09</td>
      <td>2270</td>
      <td>570461</td>
      <td>5995</td>
      <td>0.26</td>
      <td>76.10</td>
      <td>79.30</td>
      <td>0</td>
      <td>20460</td>
      <td>5700</td>
      <td>31</td>
    </tr>
    <tr>
      <th>11078</th>
      <td>2016-05-31</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 15:57:54</td>
      <td>2722</td>
      <td>683458</td>
      <td>5114</td>
      <td>0.19</td>
      <td>89.40</td>
      <td>89.40</td>
      <td>0</td>
      <td>27540</td>
      <td>3600</td>
      <td>23</td>
    </tr>
    <tr>
      <th>11084</th>
      <td>2016-05-31</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 22:53:31</td>
      <td>2356</td>
      <td>591276</td>
      <td>4918</td>
      <td>0.21</td>
      <td>90.80</td>
      <td>91.80</td>
      <td>0</td>
      <td>20820</td>
      <td>4080</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8767</th>
      <td>2016-06-01</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-01 07:17:51</td>
      <td>2703</td>
      <td>678771</td>
      <td>6287</td>
      <td>0.26</td>
      <td>89.80</td>
      <td>89.80</td>
      <td>7034</td>
      <td>24000</td>
      <td>2340</td>
      <td>20</td>
    </tr>
    <tr>
      <th>9467</th>
      <td>2016-06-01</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-01 23:57:53</td>
      <td>2999</td>
      <td>753600</td>
      <td>6575</td>
      <td>0.22</td>
      <td>98.50</td>
      <td>98.50</td>
      <td>7034</td>
      <td>26820</td>
      <td>1920</td>
      <td>31</td>
    </tr>
    <tr>
      <th>9474</th>
      <td>2016-06-02</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-02 07:16:17</td>
      <td>2610</td>
      <td>655610</td>
      <td>6817</td>
      <td>0.26</td>
      <td>87.10</td>
      <td>87.10</td>
      <td>0</td>
      <td>23220</td>
      <td>3060</td>
      <td>17</td>
    </tr>
    <tr>
      <th>7363</th>
      <td>2016-06-02</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-02 15:57:52</td>
      <td>2952</td>
      <td>741485</td>
      <td>6181</td>
      <td>0.25</td>
      <td>89.70</td>
      <td>89.70</td>
      <td>0</td>
      <td>28020</td>
      <td>2520</td>
      <td>22</td>
    </tr>
    <tr>
      <th>7371</th>
      <td>2016-06-02</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-02 23:57:51</td>
      <td>2625</td>
      <td>661555</td>
      <td>8141</td>
      <td>0.35</td>
      <td>79.80</td>
      <td>79.80</td>
      <td>0</td>
      <td>23520</td>
      <td>5220</td>
      <td>38</td>
    </tr>
    <tr>
      <th>7511</th>
      <td>2016-06-03</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-03 07:17:50</td>
      <td>2803</td>
      <td>703982</td>
      <td>8293</td>
      <td>0.76</td>
      <td>93.10</td>
      <td>93.10</td>
      <td>7034</td>
      <td>24780</td>
      <td>1560</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9675</th>
      <td>2016-06-03</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-03 23:54:09</td>
      <td>2942</td>
      <td>740270</td>
      <td>11333</td>
      <td>0.38</td>
      <td>90.10</td>
      <td>90.10</td>
      <td>0</td>
      <td>25980</td>
      <td>2580</td>
      <td>22</td>
    </tr>
    <tr>
      <th>8084</th>
      <td>2016-06-05</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-05 15:57:50</td>
      <td>2700</td>
      <td>679045</td>
      <td>8110</td>
      <td>0.30</td>
      <td>82.10</td>
      <td>82.10</td>
      <td>0</td>
      <td>26040</td>
      <td>4500</td>
      <td>39</td>
    </tr>
    <tr>
      <th>8102</th>
      <td>2016-06-05</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-05 23:57:48</td>
      <td>2700</td>
      <td>680292</td>
      <td>13785</td>
      <td>0.51</td>
      <td>82.10</td>
      <td>82.10</td>
      <td>0</td>
      <td>24360</td>
      <td>4380</td>
      <td>34</td>
    </tr>
    <tr>
      <th>7557</th>
      <td>2016-06-06</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-06 15:57:48</td>
      <td>2500</td>
      <td>628370</td>
      <td>4216</td>
      <td>0.17</td>
      <td>76.00</td>
      <td>76.00</td>
      <td>0</td>
      <td>24180</td>
      <td>6360</td>
      <td>29</td>
    </tr>
    <tr>
      <th>8808</th>
      <td>2016-06-06</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-06 23:43:48</td>
      <td>2560</td>
      <td>642536</td>
      <td>6241</td>
      <td>0.24</td>
      <td>80.20</td>
      <td>82.80</td>
      <td>0</td>
      <td>23520</td>
      <td>4380</td>
      <td>17</td>
    </tr>
    <tr>
      <th>10051</th>
      <td>2016-06-07</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-07 07:17:46</td>
      <td>2814</td>
      <td>707713</td>
      <td>9498</td>
      <td>0.34</td>
      <td>93.50</td>
      <td>93.50</td>
      <td>7033</td>
      <td>24780</td>
      <td>1560</td>
      <td>30</td>
    </tr>
    <tr>
      <th>10053</th>
      <td>2016-06-07</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-07 15:56:43</td>
      <td>3162</td>
      <td>794157</td>
      <td>8263</td>
      <td>0.26</td>
      <td>96.30</td>
      <td>96.30</td>
      <td>0</td>
      <td>29040</td>
      <td>1440</td>
      <td>18</td>
    </tr>
    <tr>
      <th>10193</th>
      <td>2016-06-07</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-07 23:50:28</td>
      <td>3130</td>
      <td>786597</td>
      <td>11413</td>
      <td>0.36</td>
      <td>96.60</td>
      <td>96.60</td>
      <td>1009</td>
      <td>26940</td>
      <td>1380</td>
      <td>13</td>
    </tr>
    <tr>
      <th>10823</th>
      <td>2016-06-08</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-08 07:17:46</td>
      <td>2812</td>
      <td>707840</td>
      <td>12357</td>
      <td>0.44</td>
      <td>93.40</td>
      <td>93.40</td>
      <td>7204</td>
      <td>24180</td>
      <td>2160</td>
      <td>22</td>
    </tr>
    <tr>
      <th>10832</th>
      <td>2016-06-08</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-08 15:57:45</td>
      <td>3180</td>
      <td>799238</td>
      <td>10174</td>
      <td>0.32</td>
      <td>96.70</td>
      <td>96.70</td>
      <td>0</td>
      <td>28980</td>
      <td>1560</td>
      <td>25</td>
    </tr>
    <tr>
      <th>11363</th>
      <td>2016-06-08</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-08 23:24:35</td>
      <td>2594</td>
      <td>653504</td>
      <td>13716</td>
      <td>0.52</td>
      <td>84.90</td>
      <td>84.90</td>
      <td>0</td>
      <td>23160</td>
      <td>3600</td>
      <td>24</td>
    </tr>
    <tr>
      <th>11503</th>
      <td>2016-06-10</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-10 15:57:45</td>
      <td>3060</td>
      <td>769060</td>
      <td>10346</td>
      <td>0.34</td>
      <td>93.00</td>
      <td>93.00</td>
      <td>397</td>
      <td>28200</td>
      <td>2340</td>
      <td>21</td>
    </tr>
    <tr>
      <th>11999</th>
      <td>2016-06-10</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-10 23:57:44</td>
      <td>3080</td>
      <td>774092</td>
      <td>10641</td>
      <td>0.34</td>
      <td>93.60</td>
      <td>93.60</td>
      <td>0</td>
      <td>26580</td>
      <td>2160</td>
      <td>17</td>
    </tr>
    <tr>
      <th>10062</th>
      <td>2016-06-11</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-11 13:29:40</td>
      <td>1995</td>
      <td>501704</td>
      <td>6303</td>
      <td>0.39</td>
      <td>88.60</td>
      <td>88.60</td>
      <td>813</td>
      <td>19500</td>
      <td>2160</td>
      <td>21</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>23397</th>
      <td>2017-07-12</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-12 23:59:14</td>
      <td>2774</td>
      <td>709103</td>
      <td>2354</td>
      <td>0.08</td>
      <td>82.90</td>
      <td>81.23</td>
      <td>0</td>
      <td>17580</td>
      <td>5520</td>
      <td>29</td>
    </tr>
    <tr>
      <th>23411</th>
      <td>2017-07-13</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-13 06:04:55</td>
      <td>2022</td>
      <td>508543</td>
      <td>1608</td>
      <td>0.08</td>
      <td>83.89</td>
      <td>77.11</td>
      <td>7500</td>
      <td>11880</td>
      <td>5040</td>
      <td>26</td>
    </tr>
    <tr>
      <th>23624</th>
      <td>2017-07-13</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-13 15:59:54</td>
      <td>2950</td>
      <td>737613</td>
      <td>2603</td>
      <td>0.09</td>
      <td>85.01</td>
      <td>83.00</td>
      <td>0</td>
      <td>18780</td>
      <td>4980</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23641</th>
      <td>2017-07-13</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-13 23:59:53</td>
      <td>2716</td>
      <td>682411</td>
      <td>4583</td>
      <td>0.17</td>
      <td>78.81</td>
      <td>77.29</td>
      <td>0</td>
      <td>15540</td>
      <td>6600</td>
      <td>20</td>
    </tr>
    <tr>
      <th>23790</th>
      <td>2017-07-14</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-14 05:54:25</td>
      <td>2298</td>
      <td>577650</td>
      <td>3230</td>
      <td>0.14</td>
      <td>87.26</td>
      <td>86.74</td>
      <td>7500</td>
      <td>15720</td>
      <td>2820</td>
      <td>16</td>
    </tr>
    <tr>
      <th>24550</th>
      <td>2017-07-14</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-14 23:59:58</td>
      <td>2841</td>
      <td>714559</td>
      <td>2668</td>
      <td>0.09</td>
      <td>82.73</td>
      <td>81.81</td>
      <td>0</td>
      <td>17820</td>
      <td>5460</td>
      <td>46</td>
    </tr>
    <tr>
      <th>24690</th>
      <td>2017-07-15</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-15 04:34:39</td>
      <td>1799</td>
      <td>452412</td>
      <td>900</td>
      <td>0.05</td>
      <td>93.53</td>
      <td>93.20</td>
      <td>7600</td>
      <td>12840</td>
      <td>1860</td>
      <td>15</td>
    </tr>
    <tr>
      <th>24271</th>
      <td>2017-07-15</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-15 15:59:14</td>
      <td>525</td>
      <td>132078</td>
      <td>288</td>
      <td>0.05</td>
      <td>87.22</td>
      <td>86.79</td>
      <td>0</td>
      <td>15060</td>
      <td>6720</td>
      <td>30</td>
    </tr>
    <tr>
      <th>24405</th>
      <td>2017-07-15</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-15 16:54:29</td>
      <td>382</td>
      <td>96011</td>
      <td>174</td>
      <td>0.05</td>
      <td>95.44</td>
      <td>95.44</td>
      <td>7500</td>
      <td>2760</td>
      <td>300</td>
      <td>3</td>
    </tr>
    <tr>
      <th>24706</th>
      <td>2017-07-17</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-17 10:15:00</td>
      <td>857</td>
      <td>215478</td>
      <td>1862</td>
      <td>0.22</td>
      <td>93.71</td>
      <td>91.68</td>
      <td>7200</td>
      <td>6300</td>
      <td>960</td>
      <td>5</td>
    </tr>
    <tr>
      <th>24133</th>
      <td>2017-07-17</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-17 23:59:49</td>
      <td>2780</td>
      <td>701888</td>
      <td>10572</td>
      <td>0.38</td>
      <td>84.11</td>
      <td>83.51</td>
      <td>0</td>
      <td>16980</td>
      <td>5880</td>
      <td>43</td>
    </tr>
    <tr>
      <th>24274</th>
      <td>2017-07-18</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-18 06:54:19</td>
      <td>2435</td>
      <td>612352</td>
      <td>2925</td>
      <td>0.12</td>
      <td>87.56</td>
      <td>86.12</td>
      <td>7490</td>
      <td>13920</td>
      <td>5520</td>
      <td>25</td>
    </tr>
    <tr>
      <th>23760</th>
      <td>2017-07-18</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-18 14:04:27</td>
      <td>2021</td>
      <td>508501</td>
      <td>2692</td>
      <td>0.13</td>
      <td>81.64</td>
      <td>81.64</td>
      <td>7600</td>
      <td>11400</td>
      <td>5280</td>
      <td>40</td>
    </tr>
    <tr>
      <th>23775</th>
      <td>2017-07-18</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-18 23:59:58</td>
      <td>2684</td>
      <td>676531</td>
      <td>3989</td>
      <td>0.15</td>
      <td>82.06</td>
      <td>82.06</td>
      <td>7200</td>
      <td>15780</td>
      <td>6480</td>
      <td>39</td>
    </tr>
    <tr>
      <th>23914</th>
      <td>2017-07-19</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-19 08:00:00</td>
      <td>2977</td>
      <td>748749</td>
      <td>3991</td>
      <td>0.13</td>
      <td>87.61</td>
      <td>87.29</td>
      <td>0</td>
      <td>18900</td>
      <td>4920</td>
      <td>22</td>
    </tr>
    <tr>
      <th>23941</th>
      <td>2017-07-19</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-19 15:59:59</td>
      <td>2895</td>
      <td>725997</td>
      <td>2887</td>
      <td>0.10</td>
      <td>91.33</td>
      <td>87.16</td>
      <td>0</td>
      <td>18420</td>
      <td>5160</td>
      <td>26</td>
    </tr>
    <tr>
      <th>24635</th>
      <td>2017-07-19</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-19 17:04:55</td>
      <td>298</td>
      <td>75549</td>
      <td>190</td>
      <td>0.06</td>
      <td>61.15</td>
      <td>61.15</td>
      <td>7600</td>
      <td>900</td>
      <td>1560</td>
      <td>12</td>
    </tr>
    <tr>
      <th>25798</th>
      <td>2017-07-20</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-20 15:59:07</td>
      <td>2600</td>
      <td>618007</td>
      <td>3299</td>
      <td>0.13</td>
      <td>80.36</td>
      <td>78.91</td>
      <td>7100</td>
      <td>14940</td>
      <td>6900</td>
      <td>25</td>
    </tr>
    <tr>
      <th>25806</th>
      <td>2017-07-20</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-20 20:54:20</td>
      <td>1881</td>
      <td>446520</td>
      <td>1090</td>
      <td>0.06</td>
      <td>91.32</td>
      <td>89.32</td>
      <td>7100</td>
      <td>13080</td>
      <td>2340</td>
      <td>15</td>
    </tr>
    <tr>
      <th>24782</th>
      <td>2017-07-21</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-21 15:59:58</td>
      <td>2196</td>
      <td>515842</td>
      <td>1156</td>
      <td>0.05</td>
      <td>79.34</td>
      <td>73.34</td>
      <td>0</td>
      <td>7020</td>
      <td>10860</td>
      <td>20</td>
    </tr>
    <tr>
      <th>24787</th>
      <td>2017-07-21</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-21 21:34:36</td>
      <td>2200</td>
      <td>522631</td>
      <td>1265</td>
      <td>0.06</td>
      <td>93.82</td>
      <td>92.59</td>
      <td>7600</td>
      <td>15600</td>
      <td>2280</td>
      <td>15</td>
    </tr>
    <tr>
      <th>24073</th>
      <td>2017-07-24</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-24 15:59:59</td>
      <td>2920</td>
      <td>735763</td>
      <td>5168</td>
      <td>0.18</td>
      <td>89.30</td>
      <td>88.40</td>
      <td>0</td>
      <td>19020</td>
      <td>4860</td>
      <td>33</td>
    </tr>
    <tr>
      <th>24388</th>
      <td>2017-07-24</td>
      <td>2</td>
      <td>114</td>

### 单台设备生产数据相关系数

In [12]:
tb22_dt_corr = tb22_dt.corr()
columns = ['TOTALPRODUCTION', 'FILTERTIP', 'TOTALWASTE', 'TOTALWASTEPCT', 'EFFMACHINE', 'EFFPRODUCTION', 'RUNTIME', 'TOTALSTOPTIME', 'TOTALSTOPCNT']

for col in columns:
    print('*' * 50)
    print(col, '相关系数排行：\n', tb22_dt_corr[col].sort_values(ascending=False)[:5])

**************************************************
TOTALPRODUCTION 相关系数排行：
 TOTALPRODUCTION    1.000000
FILTERTIP          0.927376
EFFMACHINE         0.820153
EFFPRODUCTION      0.802193
RUNTIME            0.728801
Name: TOTALPRODUCTION, dtype: float64
**************************************************
FILTERTIP 相关系数排行：
 FILTERTIP          1.000000
TOTALPRODUCTION    0.927376
EFFMACHINE         0.782678
EFFPRODUCTION      0.762347
RUNTIME            0.700769
Name: FILTERTIP, dtype: float64
**************************************************
TOTALWASTE 相关系数排行：
 TOTALWASTE       1.000000
TOTALSTOPCNT     0.341888
TOTALWASTEPCT    0.301123
RUNTIME          0.249356
FILTERTIP        0.188528
Name: TOTALWASTE, dtype: float64
**************************************************
TOTALWASTEPCT 相关系数排行：
 TOTALWASTEPCT    1.000000
TOTALSTOPTIME    0.460472
TOTALWASTE       0.301123
TOTALSTOPCNT     0.159681
PB_SHIFT_ID     -0.047739
Name: TOTALWASTEPCT, dtype: float64
**************************************************
EFFMACHINE 相关系数排行：
 EFFMACHINE         1.000000
EFFPRODUCTION      0.937743
TOTALPRODUCTION    0.820153
FILTERTIP          0.782678
RUNTIME            0.568231
Name: EFFMACHINE, dtype: float64
**************************************************
EFFPRODUCTION 相关系数排行：
 EFFPRODUCTION      1.000000
EFFMACHINE         0.937743
TOTALPRODUCTION    0.802193
FILTERTIP          0.762347
RUNTIME            0.622730
Name: EFFPRODUCTION, dtype: float64
**************************************************
RUNTIME 相关系数排行：
 RUNTIME            1.000000
TOTALPRODUCTION    0.728801
FILTERTIP          0.700769
EFFPRODUCTION      0.622730
EFFMACHINE         0.568231
Name: RUNTIME, dtype: float64
**************************************************
TOTALSTOPTIME 相关系数排行：
 TOTALSTOPTIME    1.000000
TOTALWASTEPCT    0.460472
TOTALSTOPCNT     0.211265
PB_SHIFT_ID     -0.132167
TOTALWASTE      -0.167473
Name: TOTALSTOPTIME, dtype: float64
**************************************************
TOTALSTOPCNT 相关系数排行：
 TOTALSTOPCNT     1.000000
TOTALWASTE       0.341888
TOTALSTOPTIME    0.211265
TOTALWASTEPCT    0.159681
PB_SHIFT_ID     -0.055851
Name: TOTALSTOPCNT, dtype: float64

In [13]:
#选择需要绘制散点图的列名  
cols = ['TOTALPRODUCTION', 'TOTALWASTE', 'TOTALWASTEPCT', 'TOTALSTOPCNT']
#通过seaborn绘制散点图
sns.pairplot(tb22_dt.loc[:, cols], size=3)
plt.show()

/Users/jing/.virtualenvs/pydata/lib/python3.6/site-packages/seaborn/axisgrid.py:2065: UserWarning: The `size` parameter has been renamed to `height`; pleaes update your code.
  warnings.warn(msg, UserWarning)

### 原始数据绘图

In [14]:
plt.figure(figsize=(12, 6))
plt.plot(tb22_dt['GATHERDATETIME'], tb22_dt['TOTALWASTEPCT'])
plt.show()

### 一阶差分后的数据绘图

In [15]:
fig = plt.figure(figsize=(12,8))
ax1= fig.add_subplot(111)
diff1 = tb22_dt['TOTALWASTEPCT'].diff(1)
plt.plot(tb22_dt['GATHERDATETIME'], diff1)
plt.show()

### 设备114早班生产数据

In [16]:
tb22_dt1 = tb_22_clear.query("PB_SHIFT_ID == 1 & PM_MP_MACHINE_ID == '114'").sort_values('GATHERDATETIME')
tb22_dt1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PRODUCEDATE</th>
      <th>PB_SHIFT_ID</th>
      <th>PM_MP_MACHINE_ID</th>
      <th>PB_PRODUCT_ID</th>
      <th>GATHERDATETIME</th>
      <th>TOTALPRODUCTION</th>
      <th>FILTERTIP</th>
      <th>TOTALWASTE</th>
      <th>TOTALWASTEPCT</th>
      <th>EFFMACHINE</th>
      <th>EFFPRODUCTION</th>
      <th>MACHINESPEED</th>
      <th>RUNTIME</th>
      <th>TOTALSTOPTIME</th>
      <th>TOTALSTOPCNT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8347</th>
      <td>2016-05-28</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-28 15:57:57</td>
      <td>135</td>
      <td>36663</td>
      <td>2094</td>
      <td>1.52</td>
      <td>4.10</td>
      <td>7.10</td>
      <td>0</td>
      <td>16620</td>
      <td>14520</td>
      <td>49</td>
    </tr>
    <tr>
      <th>9598</th>
      <td>2016-05-29</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-29 15:47:09</td>
      <td>2725</td>
      <td>684564</td>
      <td>8004</td>
      <td>0.29</td>
      <td>91.80</td>
      <td>91.80</td>
      <td>0</td>
      <td>26820</td>
      <td>3720</td>
      <td>18</td>
    </tr>
    <tr>
      <th>9768</th>
      <td>2016-05-30</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-30 15:54:06</td>
      <td>2479</td>
      <td>623010</td>
      <td>5283</td>
      <td>0.21</td>
      <td>82.10</td>
      <td>69.20</td>
      <td>0</td>
      <td>23340</td>
      <td>5880</td>
      <td>32</td>
    </tr>
    <tr>
      <th>11078</th>
      <td>2016-05-31</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 15:57:54</td>
      <td>2722</td>
      <td>683458</td>
      <td>5114</td>
      <td>0.19</td>
      <td>89.40</td>
      <td>89.40</td>
      <td>0</td>
      <td>27540</td>
      <td>3600</td>
      <td>23</td>
    </tr>
    <tr>
      <th>7363</th>
      <td>2016-06-02</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-02 15:57:52</td>
      <td>2952</td>
      <td>741485</td>
      <td>6181</td>
      <td>0.25</td>
      <td>89.70</td>
      <td>89.70</td>
      <td>0</td>
      <td>28020</td>
      <td>2520</td>
      <td>22</td>
    </tr>
    <tr>
      <th>8084</th>
      <td>2016-06-05</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-05 15:57:50</td>
      <td>2700</td>
      <td>679045</td>
      <td>8110</td>
      <td>0.30</td>
      <td>82.10</td>
      <td>82.10</td>
      <td>0</td>
      <td>26040</td>
      <td>4500</td>
      <td>39</td>
    </tr>
    <tr>
      <th>7557</th>
      <td>2016-06-06</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-06 15:57:48</td>
      <td>2500</td>
      <td>628370</td>
      <td>4216</td>
      <td>0.17</td>
      <td>76.00</td>
      <td>76.00</td>
      <td>0</td>
      <td>24180</td>
      <td>6360</td>
      <td>29</td>
    </tr>
    <tr>
      <th>10053</th>
      <td>2016-06-07</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-07 15:56:43</td>
      <td>3162</td>
      <td>794157</td>
      <td>8263</td>
      <td>0.26</td>
      <td>96.30</td>
      <td>96.30</td>
      <td>0</td>
      <td>29040</td>
      <td>1440</td>
      <td>18</td>
    </tr>
    <tr>
      <th>10832</th>
      <td>2016-06-08</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-08 15:57:45</td>
      <td>3180</td>
      <td>799238</td>
      <td>10174</td>
      <td>0.32</td>
      <td>96.70</td>
      <td>96.70</td>
      <td>0</td>
      <td>28980</td>
      <td>1560</td>
      <td>25</td>
    </tr>
    <tr>
      <th>11503</th>
      <td>2016-06-10</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-10 15:57:45</td>
      <td>3060</td>
      <td>769060</td>
      <td>10346</td>
      <td>0.34</td>
      <td>93.00</td>
      <td>93.00</td>
      <td>397</td>
      <td>28200</td>
      <td>2340</td>
      <td>21</td>
    </tr>
    <tr>
      <th>10062</th>
      <td>2016-06-11</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-11 13:29:40</td>
      <td>1995</td>
      <td>501704</td>
      <td>6303</td>
      <td>0.39</td>
      <td>88.60</td>
      <td>88.60</td>
      <td>813</td>
      <td>19500</td>
      <td>2160</td>
      <td>21</td>
    </tr>
    <tr>
      <th>10067</th>
      <td>2016-06-11</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-11 15:56:20</td>
      <td>2995</td>
      <td>752979</td>
      <td>9190</td>
      <td>0.35</td>
      <td>91.30</td>
      <td>91.30</td>
      <td>0</td>
      <td>28140</td>
      <td>2340</td>
      <td>24</td>
    </tr>
    <tr>
      <th>10723</th>
      <td>2016-06-12</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-12 15:14:11</td>
      <td>2602</td>
      <td>655918</td>
      <td>12070</td>
      <td>0.45</td>
      <td>87.20</td>
      <td>87.20</td>
      <td>0</td>
      <td>24840</td>
      <td>3120</td>
      <td>41</td>
    </tr>
    <tr>
      <th>11405</th>
      <td>2016-06-13</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-13 15:47:36</td>
      <td>2320</td>
      <td>584185</td>
      <td>22011</td>
      <td>0.51</td>
      <td>72.10</td>
      <td>82.40</td>
      <td>0</td>
      <td>22320</td>
      <td>7620</td>
      <td>12</td>
    </tr>
    <tr>
      <th>12175</th>
      <td>2016-06-14</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-14 15:47:09</td>
      <td>2315</td>
      <td>581439</td>
      <td>4739</td>
      <td>0.20</td>
      <td>72.00</td>
      <td>77.20</td>
      <td>0</td>
      <td>22500</td>
      <td>7440</td>
      <td>19</td>
    </tr>
    <tr>
      <th>10282</th>
      <td>2016-06-15</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-15 15:55:51</td>
      <td>1520</td>
      <td>382254</td>
      <td>4266</td>
      <td>0.13</td>
      <td>46.40</td>
      <td>62.00</td>
      <td>0</td>
      <td>15780</td>
      <td>14700</td>
      <td>29</td>
    </tr>
    <tr>
      <th>11441</th>
      <td>2016-06-16</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-16 15:57:40</td>
      <td>2860</td>
      <td>717976</td>
      <td>6331</td>
      <td>0.22</td>
      <td>86.90</td>
      <td>86.90</td>
      <td>0</td>
      <td>27360</td>
      <td>3180</td>
      <td>21</td>
    </tr>
    <tr>
      <th>12226</th>
      <td>2016-06-17</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-17 15:57:39</td>
      <td>2900</td>
      <td>728669</td>
      <td>7120</td>
      <td>0.25</td>
      <td>88.20</td>
      <td>88.20</td>
      <td>0</td>
      <td>27600</td>
      <td>2940</td>
      <td>23</td>
    </tr>
    <tr>
      <th>10806</th>
      <td>2016-06-18</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-18 15:57:38</td>
      <td>2770</td>
      <td>697080</td>
      <td>7189</td>
      <td>0.26</td>
      <td>83.20</td>
      <td>83.20</td>
      <td>0</td>
      <td>26520</td>
      <td>4020</td>
      <td>28</td>
    </tr>
    <tr>
      <th>10089</th>
      <td>2016-06-24</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-24 15:52:47</td>
      <td>2220</td>
      <td>560104</td>
      <td>11217</td>
      <td>0.50</td>
      <td>68.20</td>
      <td>73.60</td>
      <td>0</td>
      <td>22140</td>
      <td>8160</td>
      <td>40</td>
    </tr>
    <tr>
      <th>11708</th>
      <td>2016-06-27</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-27 15:57:30</td>
      <td>2401</td>
      <td>604932</td>
      <td>9642</td>
      <td>0.40</td>
      <td>73.00</td>
      <td>73.60</td>
      <td>7033</td>
      <td>22740</td>
      <td>7260</td>
      <td>37</td>
    </tr>
    <tr>
      <th>10422</th>
      <td>2016-06-28</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-28 15:57:30</td>
      <td>2905</td>
      <td>730434</td>
      <td>8461</td>
      <td>0.31</td>
      <td>88.30</td>
      <td>88.30</td>
      <td>0</td>
      <td>27540</td>
      <td>3000</td>
      <td>27</td>
    </tr>
    <tr>
      <th>11107</th>
      <td>2016-06-29</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-29 15:50:55</td>
      <td>2521</td>
      <td>636382</td>
      <td>10239</td>
      <td>0.40</td>
      <td>77.70</td>
      <td>77.80</td>
      <td>0</td>
      <td>24660</td>
      <td>5520</td>
      <td>63</td>
    </tr>
    <tr>
      <th>11742</th>
      <td>2016-06-30</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-30 08:30:39</td>
      <td>216</td>
      <td>54663</td>
      <td>524</td>
      <td>0.24</td>
      <td>133.20</td>
      <td>133.20</td>
      <td>7035</td>
      <td>3720</td>
      <td>60</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11748</th>
      <td>2016-06-30</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-30 09:32:40</td>
      <td>532</td>
      <td>134456</td>
      <td>2321</td>
      <td>0.43</td>
      <td>89.20</td>
      <td>89.20</td>
      <td>0</td>
      <td>6540</td>
      <td>960</td>
      <td>18</td>
    </tr>
    <tr>
      <th>12236</th>
      <td>2016-06-30</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-30 15:54:30</td>
      <td>2950</td>
      <td>744197</td>
      <td>14039</td>
      <td>0.47</td>
      <td>90.30</td>
      <td>90.30</td>
      <td>372</td>
      <td>27600</td>
      <td>2820</td>
      <td>52</td>
    </tr>
    <tr>
      <th>10460</th>
      <td>2016-07-01</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-01 15:57:06</td>
      <td>2980</td>
      <td>751344</td>
      <td>14655</td>
      <td>0.49</td>
      <td>90.70</td>
      <td>90.70</td>
      <td>0</td>
      <td>28260</td>
      <td>2280</td>
      <td>37</td>
    </tr>
    <tr>
      <th>11137</th>
      <td>2016-07-02</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-02 15:56:38</td>
      <td>2930</td>
      <td>739579</td>
      <td>16060</td>
      <td>0.54</td>
      <td>89.20</td>
      <td>89.20</td>
      <td>0</td>
      <td>27600</td>
      <td>2940</td>
      <td>43</td>
    </tr>
    <tr>
      <th>11784</th>
      <td>2016-07-04</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-04 15:57:24</td>
      <td>2180</td>
      <td>550400</td>
      <td>12392</td>
      <td>0.56</td>
      <td>66.30</td>
      <td>67.30</td>
      <td>0</td>
      <td>20160</td>
      <td>9060</td>
      <td>57</td>
    </tr>
    <tr>
      <th>12430</th>
      <td>2016-07-05</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-05 15:55:01</td>
      <td>2828</td>
      <td>712670</td>
      <td>13402</td>
      <td>0.47</td>
      <td>86.40</td>
      <td>86.40</td>
      <td>0</td>
      <td>27120</td>
      <td>3300</td>
      <td>33</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>24470</th>
      <td>2017-06-13</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-13 15:59:59</td>
      <td>1746</td>
      <td>442259</td>
      <td>9559</td>
      <td>0.54</td>
      <td>75.52</td>
      <td>67.27</td>
      <td>0</td>
      <td>1020</td>
      <td>13860</td>
      <td>37</td>
    </tr>
    <tr>
      <th>25118</th>
      <td>2017-06-14</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-14 15:59:57</td>
      <td>2789</td>
      <td>702545</td>
      <td>10581</td>
      <td>0.38</td>
      <td>88.64</td>
      <td>84.35</td>
      <td>0</td>
      <td>17220</td>
      <td>5760</td>
      <td>23</td>
    </tr>
    <tr>
      <th>25636</th>
      <td>2017-06-15</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-15 15:59:06</td>
      <td>2602</td>
      <td>653275</td>
      <td>12411</td>
      <td>0.47</td>
      <td>87.59</td>
      <td>86.51</td>
      <td>0</td>
      <td>14580</td>
      <td>7080</td>
      <td>28</td>
    </tr>
    <tr>
      <th>23518</th>
      <td>2017-06-16</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-16 15:59:56</td>
      <td>2477</td>
      <td>625655</td>
      <td>15296</td>
      <td>0.61</td>
      <td>76.27</td>
      <td>76.27</td>
      <td>0</td>
      <td>12060</td>
      <td>8340</td>
      <td>26</td>
    </tr>
    <tr>
      <th>26484</th>
      <td>2017-06-19</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-19 15:59:08</td>
      <td>2700</td>
      <td>680933</td>
      <td>7746</td>
      <td>0.28</td>
      <td>84.55</td>
      <td>84.46</td>
      <td>0</td>
      <td>16260</td>
      <td>6240</td>
      <td>36</td>
    </tr>
    <tr>
      <th>26090</th>
      <td>2017-06-21</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-21 15:59:41</td>
      <td>2780</td>
      <td>643776</td>
      <td>15966</td>
      <td>0.57</td>
      <td>85.07</td>
      <td>83.69</td>
      <td>0</td>
      <td>16620</td>
      <td>6060</td>
      <td>25</td>
    </tr>
    <tr>
      <th>26437</th>
      <td>2017-06-22</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-22 15:59:06</td>
      <td>2850</td>
      <td>711022</td>
      <td>3957</td>
      <td>0.14</td>
      <td>87.16</td>
      <td>86.62</td>
      <td>0</td>
      <td>17700</td>
      <td>5520</td>
      <td>20</td>
    </tr>
    <tr>
      <th>26842</th>
      <td>2017-06-23</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-23 15:59:56</td>
      <td>2820</td>
      <td>645383</td>
      <td>6767</td>
      <td>0.24</td>
      <td>87.87</td>
      <td>87.23</td>
      <td>0</td>
      <td>16980</td>
      <td>5880</td>
      <td>24</td>
    </tr>
    <tr>
      <th>27195</th>
      <td>2017-06-24</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-24 15:59:50</td>
      <td>2766</td>
      <td>584163</td>
      <td>4736</td>
      <td>0.17</td>
      <td>88.65</td>
      <td>85.59</td>
      <td>0</td>
      <td>16260</td>
      <td>6240</td>
      <td>15</td>
    </tr>
    <tr>
      <th>26233</th>
      <td>2017-06-26</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-26 15:59:51</td>
      <td>2421</td>
      <td>517003</td>
      <td>8916</td>
      <td>0.36</td>
      <td>80.19</td>
      <td>74.56</td>
      <td>0</td>
      <td>13020</td>
      <td>7860</td>
      <td>39</td>
    </tr>
    <tr>
      <th>26590</th>
      <td>2017-07-04</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-04 15:59:59</td>
      <td>2522</td>
      <td>598945</td>
      <td>2221</td>
      <td>0.09</td>
      <td>83.26</td>
      <td>81.89</td>
      <td>0</td>
      <td>13020</td>
      <td>7860</td>
      <td>28</td>
    </tr>
    <tr>
      <th>26945</th>
      <td>2017-07-05</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-05 15:59:53</td>
      <td>2740</td>
      <td>689466</td>
      <td>4584</td>
      <td>0.17</td>
      <td>83.09</td>
      <td>83.09</td>
      <td>0</td>
      <td>16380</td>
      <td>6180</td>
      <td>24</td>
    </tr>
    <tr>
      <th>26029</th>
      <td>2017-07-06</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-06 15:59:40</td>
      <td>2602</td>
      <td>653371</td>
      <td>5872</td>
      <td>0.22</td>
      <td>85.61</td>
      <td>83.77</td>
      <td>0</td>
      <td>13740</td>
      <td>7500</td>
      <td>20</td>
    </tr>
    <tr>
      <th>25408</th>
      <td>2017-07-07</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-07 15:59:59</td>
      <td>2600</td>
      <td>618015</td>
      <td>5355</td>
      <td>0.20</td>
      <td>88.19</td>
      <td>80.49</td>
      <td>0</td>
      <td>13860</td>
      <td>7440</td>
      <td>27</td>
    </tr>
    <tr>
      <th>25585</th>
      <td>2017-07-08</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-08 15:59:54</td>
      <td>2775</td>
      <td>697818</td>
      <td>4157</td>
      <td>0.15</td>
      <td>79.80</td>
      <td>79.40</td>
      <td>7600</td>
      <td>16020</td>
      <td>6360</td>
      <td>27</td>
    </tr>
    <tr>
      <th>25391</th>
      <td>2017-07-10</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-10 15:59:54</td>
      <td>2904</td>
      <td>730684</td>
      <td>4313</td>
      <td>0.15</td>
      <td>87.46</td>
      <td>87.46</td>
      <td>7000</td>
      <td>18180</td>
      <td>5280</td>
      <td>29</td>
    </tr>
    <tr>
      <th>25709</th>
      <td>2017-07-11</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-11 15:59:50</td>
      <td>2630</td>
      <td>662523</td>
      <td>4934</td>
      <td>0.19</td>
      <td>81.93</td>
      <td>81.81</td>
      <td>6870</td>
      <td>14700</td>
      <td>7020</td>
      <td>36</td>
    </tr>
    <tr>
      <th>25877</th>
      <td>2017-07-12</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-12 15:59:26</td>
      <td>2625</td>
      <td>650730</td>
      <td>2000</td>
      <td>0.08</td>
      <td>83.25</td>
      <td>81.46</td>
      <td>0</td>
      <td>13980</td>
      <td>7380</td>
      <td>27</td>
    </tr>
    <tr>
      <th>23624</th>
      <td>2017-07-13</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-13 15:59:54</td>
      <td>2950</td>
      <td>737613</td>
      <td>2603</td>
      <td>0.09</td>
      <td>85.01</td>
      <td>83.00</td>
      <td>0</td>
      <td>18780</td>
      <td>4980</td>
      <td>18</td>
    </tr>
    <tr>
      <th>24271</th>
      <td>2017-07-15</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-15 15:59:14</td>
      <td>525</td>
      <td>132078</td>
      <td>288</td>
      <td>0.05</td>
      <td>87.22</td>
      <td>86.79</td>
      <td>0</td>
      <td>15060</td>
      <td>6720</td>
      <td>30</td>
    </tr>
    <tr>
      <th>24706</th>
      <td>2017-07-17</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-17 10:15:00</td>
      <td>857</td>
      <td>215478</td>
      <td>1862</td>
      <td>0.22</td>
      <td>93.71</td>
      <td>91.68</td>
      <td>7200</td>
      <td>6300</td>
      <td>960</td>
      <td>5</td>
    </tr>
    <tr>
      <th>23760</th>
      <td>2017-07-18</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-18 14:04:27</td>
      <td>2021</td>
      <td>508501</td>
      <td>2692</td>
      <td>0.13</td>
      <td>81.64</td>
      <td>81.64</td>
      <td>7600</td>
      <td>11400</td>
      <td>5280</td>
      <td>40</td>
    </tr>
    <tr>
      <th>23941</th>
      <td>2017-07-19</td>
      <td>1</td>
      <td>114</td>

In [17]:
tb22_dt1.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PB_SHIFT_ID</th>
      <th>PM_MP_MACHINE_ID</th>
      <th>PB_PRODUCT_ID</th>
      <th>TOTALPRODUCTION</th>
      <th>FILTERTIP</th>
      <th>TOTALWASTE</th>
      <th>TOTALWASTEPCT</th>
      <th>EFFMACHINE</th>
      <th>EFFPRODUCTION</th>
      <th>MACHINESPEED</th>
      <th>RUNTIME</th>
      <th>TOTALSTOPTIME</th>
      <th>TOTALSTOPCNT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>259.0</td>
      <td>259.0</td>
      <td>259.0</td>
      <td>259.000000</td>
      <td>259.000000</td>
      <td>259.000000</td>
      <td>259.000000</td>
      <td>259.000000</td>
      <td>259.000000</td>
      <td>259.000000</td>
      <td>259.000000</td>
      <td>259.000000</td>
      <td>259.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2384.054054</td>
      <td>603122.706564</td>
      <td>8033.359073</td>
      <td>0.407452</td>
      <td>77.165792</td>
      <td>75.661506</td>
      <td>1475.559846</td>
      <td>17979.799228</td>
      <td>6939.150579</td>
      <td>32.988417</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>702.868760</td>
      <td>179307.969483</td>
      <td>5068.681465</td>
      <td>0.625515</td>
      <td>18.881548</td>
      <td>18.813864</td>
      <td>2886.550207</td>
      <td>7472.610902</td>
      <td>4653.018114</td>
      <td>13.903455</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>19.000000</td>
      <td>0.000000</td>
      <td>166.000000</td>
      <td>0.010000</td>
      <td>0.600000</td>
      <td>0.800000</td>
      <td>0.000000</td>
      <td>60.000000</td>
      <td>60.000000</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2116.000000</td>
      <td>560825.000000</td>
      <td>4291.500000</td>
      <td>0.180000</td>
      <td>73.770000</td>
      <td>71.055000</td>
      <td>0.000000</td>
      <td>13530.000000</td>
      <td>3990.000000</td>
      <td>24.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2615.000000</td>
      <td>662523.000000</td>
      <td>6767.000000</td>
      <td>0.310000</td>
      <td>82.160000</td>
      <td>80.860000</td>
      <td>0.000000</td>
      <td>17700.000000</td>
      <td>5940.000000</td>
      <td>31.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2850.000000</td>
      <td>714443.500000</td>
      <td>11361.000000</td>
      <td>0.470000</td>
      <td>87.545000</td>
      <td>86.590000</td>
      <td>0.000000</td>
      <td>24630.000000</td>
      <td>8160.000000</td>
      <td>40.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>3289.000000</td>
      <td>825963.000000</td>
      <td>26676.000000</td>
      <td>6.960000</td>
      <td>133.200000</td>
      <td>133.200000</td>
      <td>8000.000000</td>
      <td>29940.000000</td>
      <td>27300.000000</td>
      <td>99.000000</td>
    </tr>
  </tbody>
</table>
</div>

### 设备114中班生产数据

In [18]:
tb22_dt2 = tb_22_clear.query("PB_SHIFT_ID == 2 & PM_MP_MACHINE_ID == '114'").sort_values('GATHERDATETIME')
tb22_dt2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PRODUCEDATE</th>
      <th>PB_SHIFT_ID</th>
      <th>PM_MP_MACHINE_ID</th>
      <th>PB_PRODUCT_ID</th>
      <th>GATHERDATETIME</th>
      <th>TOTALPRODUCTION</th>
      <th>FILTERTIP</th>
      <th>TOTALWASTE</th>
      <th>TOTALWASTEPCT</th>
      <th>EFFMACHINE</th>
      <th>EFFPRODUCTION</th>
      <th>MACHINESPEED</th>
      <th>RUNTIME</th>
      <th>TOTALSTOPTIME</th>
      <th>TOTALSTOPCNT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8900</th>
      <td>2016-05-28</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-28 23:52:32</td>
      <td>2705</td>
      <td>679060</td>
      <td>4872</td>
      <td>0.18</td>
      <td>88.90</td>
      <td>90.40</td>
      <td>0</td>
      <td>25020</td>
      <td>3420</td>
      <td>27</td>
    </tr>
    <tr>
      <th>7484</th>
      <td>2016-05-30</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-30 23:57:53</td>
      <td>3001</td>
      <td>753795</td>
      <td>6788</td>
      <td>0.22</td>
      <td>98.60</td>
      <td>98.60</td>
      <td>0</td>
      <td>26160</td>
      <td>2580</td>
      <td>28</td>
    </tr>
    <tr>
      <th>11084</th>
      <td>2016-05-31</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 22:53:31</td>
      <td>2356</td>
      <td>591276</td>
      <td>4918</td>
      <td>0.21</td>
      <td>90.80</td>
      <td>91.80</td>
      <td>0</td>
      <td>20820</td>
      <td>4080</td>
      <td>12</td>
    </tr>
    <tr>
      <th>9467</th>
      <td>2016-06-01</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-01 23:57:53</td>
      <td>2999</td>
      <td>753600</td>
      <td>6575</td>
      <td>0.22</td>
      <td>98.50</td>
      <td>98.50</td>
      <td>7034</td>
      <td>26820</td>
      <td>1920</td>
      <td>31</td>
    </tr>
    <tr>
      <th>7371</th>
      <td>2016-06-02</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-02 23:57:51</td>
      <td>2625</td>
      <td>661555</td>
      <td>8141</td>
      <td>0.35</td>
      <td>79.80</td>
      <td>79.80</td>
      <td>0</td>
      <td>23520</td>
      <td>5220</td>
      <td>38</td>
    </tr>
    <tr>
      <th>9675</th>
      <td>2016-06-03</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-03 23:54:09</td>
      <td>2942</td>
      <td>740270</td>
      <td>11333</td>
      <td>0.38</td>
      <td>90.10</td>
      <td>90.10</td>
      <td>0</td>
      <td>25980</td>
      <td>2580</td>
      <td>22</td>
    </tr>
    <tr>
      <th>8102</th>
      <td>2016-06-05</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-05 23:57:48</td>
      <td>2700</td>
      <td>680292</td>
      <td>13785</td>
      <td>0.51</td>
      <td>82.10</td>
      <td>82.10</td>
      <td>0</td>
      <td>24360</td>
      <td>4380</td>
      <td>34</td>
    </tr>
    <tr>
      <th>8808</th>
      <td>2016-06-06</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-06 23:43:48</td>
      <td>2560</td>
      <td>642536</td>
      <td>6241</td>
      <td>0.24</td>
      <td>80.20</td>
      <td>82.80</td>
      <td>0</td>
      <td>23520</td>
      <td>4380</td>
      <td>17</td>
    </tr>
    <tr>
      <th>10193</th>
      <td>2016-06-07</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-07 23:50:28</td>
      <td>3130</td>
      <td>786597</td>
      <td>11413</td>
      <td>0.36</td>
      <td>96.60</td>
      <td>96.60</td>
      <td>1009</td>
      <td>26940</td>
      <td>1380</td>
      <td>13</td>
    </tr>
    <tr>
      <th>11363</th>
      <td>2016-06-08</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-08 23:24:35</td>
      <td>2594</td>
      <td>653504</td>
      <td>13716</td>
      <td>0.52</td>
      <td>84.90</td>
      <td>84.90</td>
      <td>0</td>
      <td>23160</td>
      <td>3600</td>
      <td>24</td>
    </tr>
    <tr>
      <th>11999</th>
      <td>2016-06-10</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-10 23:57:44</td>
      <td>3080</td>
      <td>774092</td>
      <td>10641</td>
      <td>0.34</td>
      <td>93.60</td>
      <td>93.60</td>
      <td>0</td>
      <td>26580</td>
      <td>2160</td>
      <td>17</td>
    </tr>
    <tr>
      <th>10569</th>
      <td>2016-06-11</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-11 23:48:03</td>
      <td>2950</td>
      <td>741908</td>
      <td>12216</td>
      <td>0.46</td>
      <td>91.60</td>
      <td>91.60</td>
      <td>0</td>
      <td>26160</td>
      <td>2040</td>
      <td>16</td>
    </tr>
    <tr>
      <th>11548</th>
      <td>2016-06-13</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-13 23:57:41</td>
      <td>2931</td>
      <td>738805</td>
      <td>14093</td>
      <td>0.48</td>
      <td>89.10</td>
      <td>89.10</td>
      <td>0</td>
      <td>25800</td>
      <td>2940</td>
      <td>40</td>
    </tr>
    <tr>
      <th>10130</th>
      <td>2016-06-14</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-14 23:57:41</td>
      <td>3119</td>
      <td>781981</td>
      <td>4020</td>
      <td>0.12</td>
      <td>94.80</td>
      <td>95.50</td>
      <td>0</td>
      <td>27660</td>
      <td>1080</td>
      <td>11</td>
    </tr>
    <tr>
      <th>10932</th>
      <td>2016-06-15</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-15 23:57:39</td>
      <td>2891</td>
      <td>726429</td>
      <td>7167</td>
      <td>0.25</td>
      <td>87.90</td>
      <td>87.90</td>
      <td>952</td>
      <td>25800</td>
      <td>2940</td>
      <td>26</td>
    </tr>
    <tr>
      <th>12073</th>
      <td>2016-06-16</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-16 23:57:39</td>
      <td>2955</td>
      <td>742606</td>
      <td>7111</td>
      <td>0.37</td>
      <td>89.80</td>
      <td>89.80</td>
      <td>0</td>
      <td>26220</td>
      <td>2520</td>
      <td>40</td>
    </tr>
    <tr>
      <th>10306</th>
      <td>2016-06-17</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-17 23:54:47</td>
      <td>2731</td>
      <td>687205</td>
      <td>6831</td>
      <td>0.25</td>
      <td>83.50</td>
      <td>83.50</td>
      <td>0</td>
      <td>24540</td>
      <td>4080</td>
      <td>45</td>
    </tr>
    <tr>
      <th>11476</th>
      <td>2016-06-18</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-18 23:57:38</td>
      <td>3194</td>
      <td>802398</td>
      <td>8531</td>
      <td>0.33</td>
      <td>97.10</td>
      <td>97.10</td>
      <td>7035</td>
      <td>28020</td>
      <td>720</td>
      <td>14</td>
    </tr>
    <tr>
      <th>12120</th>
      <td>2016-06-20</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-20 23:56:47</td>
      <td>3031</td>
      <td>761803</td>
      <td>10720</td>
      <td>0.46</td>
      <td>92.30</td>
      <td>92.30</td>
      <td>0</td>
      <td>26760</td>
      <td>1980</td>
      <td>17</td>
    </tr>
    <tr>
      <th>10348</th>
      <td>2016-06-21</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-21 23:57:32</td>
      <td>2711</td>
      <td>682412</td>
      <td>8249</td>
      <td>0.30</td>
      <td>82.40</td>
      <td>82.40</td>
      <td>0</td>
      <td>24720</td>
      <td>4020</td>
      <td>47</td>
    </tr>
    <tr>
      <th>11025</th>
      <td>2016-06-22</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-22 23:56:07</td>
      <td>2696</td>
      <td>680208</td>
      <td>10251</td>
      <td>0.38</td>
      <td>82.20</td>
      <td>82.20</td>
      <td>0</td>
      <td>24300</td>
      <td>4380</td>
      <td>50</td>
    </tr>
    <tr>
      <th>11666</th>
      <td>2016-06-23</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-23 23:03:23</td>
      <td>2071</td>
      <td>520189</td>
      <td>3369</td>
      <td>0.22</td>
      <td>71.20</td>
      <td>72.70</td>
      <td>7032</td>
      <td>18600</td>
      <td>6900</td>
      <td>28</td>
    </tr>
    <tr>
      <th>12158</th>
      <td>2016-06-23</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-23 23:57:31</td>
      <td>2420</td>
      <td>607869</td>
      <td>5346</td>
      <td>0.23</td>
      <td>73.60</td>
      <td>75.00</td>
      <td>0</td>
      <td>21600</td>
      <td>7140</td>
      <td>30</td>
    </tr>
    <tr>
      <th>10221</th>
      <td>2016-06-24</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-24 23:55:40</td>
      <td>2970</td>
      <td>746921</td>
      <td>8975</td>
      <td>0.30</td>
      <td>90.70</td>
      <td>90.70</td>
      <td>0</td>
      <td>26580</td>
      <td>2100</td>
      <td>31</td>
    </tr>
    <tr>
      <th>16255</th>
      <td>2016-06-25</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-25 23:57:30</td>
      <td>3000</td>
      <td>755701</td>
      <td>15052</td>
      <td>0.50</td>
      <td>91.20</td>
      <td>91.20</td>
      <td>0</td>
      <td>26700</td>
      <td>2040</td>
      <td>22</td>
    </tr>
    <tr>
      <th>12197</th>
      <td>2016-06-27</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-27 23:57:29</td>
      <td>2486</td>
      <td>625939</td>
      <td>11607</td>
      <td>0.61</td>
      <td>75.60</td>
      <td>75.60</td>
      <td>0</td>
      <td>22260</td>
      <td>6480</td>
      <td>34</td>
    </tr>
    <tr>
      <th>10431</th>
      <td>2016-06-28</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-28 23:56:18</td>
      <td>2820</td>
      <td>712610</td>
      <td>12588</td>
      <td>0.44</td>
      <td>85.90</td>
      <td>85.90</td>
      <td>0</td>
      <td>25080</td>
      <td>3600</td>
      <td>32</td>
    </tr>
    <tr>
      <th>11600</th>
      <td>2016-06-29</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-29 23:56:50</td>
      <td>1972</td>
      <td>496895</td>
      <td>8166</td>
      <td>0.24</td>
      <td>60.00</td>
      <td>63.70</td>
      <td>0</td>
      <td>17880</td>
      <td>10860</td>
      <td>33</td>
    </tr>
    <tr>
      <th>12243</th>
      <td>2016-06-30</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-30 21:58:27</td>
      <td>1820</td>
      <td>459529</td>
      <td>12559</td>
      <td>0.69</td>
      <td>74.10</td>
      <td>74.10</td>
      <td>0</td>
      <td>16740</td>
      <td>4920</td>
      <td>49</td>
    </tr>
    <tr>
      <th>10474</th>
      <td>2016-07-01</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-01 23:57:27</td>
      <td>2630</td>
      <td>662197</td>
      <td>12823</td>
      <td>0.56</td>
      <td>80.00</td>
      <td>80.00</td>
      <td>0</td>
      <td>23400</td>
      <td>5340</td>
      <td>24</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>25651</th>
      <td>2017-06-15</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-15 23:59:22</td>
      <td>2861</td>
      <td>720997</td>
      <td>15672</td>
      <td>0.54</td>
      <td>88.43</td>
      <td>87.26</td>
      <td>0</td>
      <td>18060</td>
      <td>5340</td>
      <td>26</td>
    </tr>
    <tr>
      <th>23850</th>
      <td>2017-06-16</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-16 23:59:54</td>
      <td>2821</td>
      <td>711710</td>
      <td>17160</td>
      <td>0.60</td>
      <td>92.59</td>
      <td>88.22</td>
      <td>0</td>
      <td>17700</td>
      <td>5520</td>
      <td>27</td>
    </tr>
    <tr>
      <th>24182</th>
      <td>2017-06-17</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-17 23:49:11</td>
      <td>2438</td>
      <td>613717</td>
      <td>5750</td>
      <td>0.23</td>
      <td>80.39</td>
      <td>80.39</td>
      <td>0</td>
      <td>12420</td>
      <td>7860</td>
      <td>28</td>
    </tr>
    <tr>
      <th>26711</th>
      <td>2017-06-19</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-19 23:59:12</td>
      <td>2970</td>
      <td>747425</td>
      <td>6776</td>
      <td>0.23</td>
      <td>88.66</td>
      <td>88.66</td>
      <td>0</td>
      <td>20100</td>
      <td>4320</td>
      <td>33</td>
    </tr>
    <tr>
      <th>27072</th>
      <td>2017-06-20</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-20 23:59:51</td>
      <td>2043</td>
      <td>466253</td>
      <td>3312</td>
      <td>0.16</td>
      <td>89.55</td>
      <td>76.93</td>
      <td>0</td>
      <td>6420</td>
      <td>11160</td>
      <td>28</td>
    </tr>
    <tr>
      <th>26107</th>
      <td>2017-06-21</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-21 23:59:40</td>
      <td>3013</td>
      <td>752637</td>
      <td>4980</td>
      <td>0.16</td>
      <td>89.36</td>
      <td>89.25</td>
      <td>0</td>
      <td>21060</td>
      <td>3840</td>
      <td>26</td>
    </tr>
    <tr>
      <th>26517</th>
      <td>2017-06-22</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-22 23:59:58</td>
      <td>2705</td>
      <td>673344</td>
      <td>5837</td>
      <td>0.21</td>
      <td>81.50</td>
      <td>81.50</td>
      <td>0</td>
      <td>15540</td>
      <td>6600</td>
      <td>39</td>
    </tr>
    <tr>
      <th>26857</th>
      <td>2017-06-23</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-23 23:59:51</td>
      <td>2705</td>
      <td>633251</td>
      <td>6390</td>
      <td>0.23</td>
      <td>84.98</td>
      <td>81.53</td>
      <td>0</td>
      <td>15540</td>
      <td>6600</td>
      <td>34</td>
    </tr>
    <tr>
      <th>27208</th>
      <td>2017-06-24</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-24 23:44:38</td>
      <td>2628</td>
      <td>515358</td>
      <td>4501</td>
      <td>0.17</td>
      <td>83.89</td>
      <td>80.52</td>
      <td>0</td>
      <td>15240</td>
      <td>6300</td>
      <td>22</td>
    </tr>
    <tr>
      <th>26302</th>
      <td>2017-06-26</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-26 23:59:47</td>
      <td>3007</td>
      <td>732756</td>
      <td>13046</td>
      <td>0.43</td>
      <td>89.47</td>
      <td>89.47</td>
      <td>7600</td>
      <td>19980</td>
      <td>4380</td>
      <td>23</td>
    </tr>
    <tr>
      <th>26864</th>
      <td>2017-07-04</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-04 23:59:52</td>
      <td>2852</td>
      <td>676875</td>
      <td>1826</td>
      <td>0.06</td>
      <td>93.46</td>
      <td>89.30</td>
      <td>0</td>
      <td>18180</td>
      <td>5280</td>
      <td>20</td>
    </tr>
    <tr>
      <th>25957</th>
      <td>2017-07-05</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-05 23:59:43</td>
      <td>2686</td>
      <td>675527</td>
      <td>2760</td>
      <td>0.10</td>
      <td>91.55</td>
      <td>87.19</td>
      <td>0</td>
      <td>15180</td>
      <td>6780</td>
      <td>28</td>
    </tr>
    <tr>
      <th>24896</th>
      <td>2017-07-06</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-06 23:59:06</td>
      <td>2846</td>
      <td>715653</td>
      <td>3271</td>
      <td>0.11</td>
      <td>87.90</td>
      <td>85.55</td>
      <td>0</td>
      <td>17340</td>
      <td>5700</td>
      <td>33</td>
    </tr>
    <tr>
      <th>25422</th>
      <td>2017-07-07</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-07 23:59:58</td>
      <td>2810</td>
      <td>667789</td>
      <td>2543</td>
      <td>0.09</td>
      <td>85.46</td>
      <td>83.36</td>
      <td>700</td>
      <td>16980</td>
      <td>5880</td>
      <td>32</td>
    </tr>
    <tr>
      <th>25596</th>
      <td>2017-07-08</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-08 23:35:34</td>
      <td>2429</td>
      <td>611776</td>
      <td>4214</td>
      <td>0.17</td>
      <td>83.09</td>
      <td>81.80</td>
      <td>0</td>
      <td>11700</td>
      <td>7860</td>
      <td>28</td>
    </tr>
    <tr>
      <th>25532</th>
      <td>2017-07-10</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-10 23:59:53</td>
      <td>2900</td>
      <td>730136</td>
      <td>2370</td>
      <td>0.08</td>
      <td>84.30</td>
      <td>84.27</td>
      <td>0</td>
      <td>18780</td>
      <td>4980</td>
      <td>51</td>
    </tr>
    <tr>
      <th>25723</th>
      <td>2017-07-11</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-11 23:59:57</td>
      <td>2481</td>
      <td>622498</td>
      <td>4770</td>
      <td>0.19</td>
      <td>78.08</td>
      <td>78.08</td>
      <td>0</td>
      <td>13380</td>
      <td>7680</td>
      <td>62</td>
    </tr>
    <tr>
      <th>23397</th>
      <td>2017-07-12</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-12 23:59:14</td>
      <td>2774</td>
      <td>709103</td>
      <td>2354</td>
      <td>0.08</td>
      <td>82.90</td>
      <td>81.23</td>
      <td>0</td>
      <td>17580</td>
      <td>5520</td>
      <td>29</td>
    </tr>
    <tr>
      <th>23641</th>
      <td>2017-07-13</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-13 23:59:53</td>
      <td>2716</td>
      <td>682411</td>
      <td>4583</td>
      <td>0.17</td>
      <td>78.81</td>
      <td>77.29</td>
      <td>0</td>
      <td>15540</td>
      <td>6600</td>
      <td>20</td>
    </tr>
    <tr>
      <th>24550</th>
      <td>2017-07-14</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-14 23:59:58</td>
      <td>2841</td>
      <td>714559</td>
      <td>2668</td>
      <td>0.09</td>
      <td>82.73</td>
      <td>81.81</td>
      <td>0</td>
      <td>17820</td>
      <td>5460</td>
      <td>46</td>
    </tr>
    <tr>
      <th>24405</th>
      <td>2017-07-15</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-15 16:54:29</td>
      <td>382</td>
      <td>96011</td>
      <td>174</td>
      <td>0.05</td>
      <td>95.44</td>
      <td>95.44</td>
      <td>7500</td>
      <td>2760</td>
      <td>300</td>
      <td>3</td>
    </tr>
    <tr>
      <th>24133</th>
      <td>2017-07-17</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-17 23:59:49</td>
      <td>2780</td>
      <td>701888</td>
      <td>10572</td>
      <td>0.38</td>
      <td>84.11</td>
      <td>83.51</td>
      <td>0</td>
      <td>16980</td>
      <td>5880</td>
      <td>43</td>
    </tr>
    <tr>
      <th>23775</th>
      <td>2017-07-18</td>
      <td>2</td>
      <td>114</td>

In [19]:
tb22_dt2.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PB_SHIFT_ID</th>
      <th>PM_MP_MACHINE_ID</th>
      <th>PB_PRODUCT_ID</th>
      <th>TOTALPRODUCTION</th>
      <th>FILTERTIP</th>
      <th>TOTALWASTE</th>
      <th>TOTALWASTEPCT</th>
      <th>EFFMACHINE</th>
      <th>EFFPRODUCTION</th>
      <th>MACHINESPEED</th>
      <th>RUNTIME</th>
      <th>TOTALSTOPTIME</th>
      <th>TOTALSTOPCNT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>263.0</td>
      <td>263.0</td>
      <td>263.0</td>
      <td>263.000000</td>
      <td>263.000000</td>
      <td>263.000000</td>
      <td>263.000000</td>
      <td>263.000000</td>
      <td>263.000000</td>
      <td>263.000000</td>
      <td>263.000000</td>
      <td>263.000000</td>
      <td>263.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2558.494297</td>
      <td>644522.209125</td>
      <td>8328.277567</td>
      <td>0.363422</td>
      <td>81.673308</td>
      <td>81.235779</td>
      <td>1894.585551</td>
      <td>19019.543726</td>
      <td>5737.642586</td>
      <td>32.212928</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>597.157138</td>
      <td>156700.732475</td>
      <td>5300.728056</td>
      <td>0.393805</td>
      <td>15.554443</td>
      <td>14.331113</td>
      <td>3135.951244</td>
      <td>6443.689601</td>
      <td>4148.496894</td>
      <td>14.617786</td>
    </tr>
    <tr>
      <th>min</th>
      <td>2.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>27.000000</td>
      <td>0.000000</td>
      <td>174.000000</td>
      <td>0.040000</td>
      <td>0.800000</td>
      <td>3.200000</td>
      <td>0.000000</td>
      <td>60.000000</td>
      <td>300.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>2.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2396.000000</td>
      <td>614333.500000</td>
      <td>4177.000000</td>
      <td>0.160000</td>
      <td>79.510000</td>
      <td>78.605000</td>
      <td>0.000000</td>
      <td>15420.000000</td>
      <td>3240.000000</td>
      <td>22.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>2.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2720.000000</td>
      <td>688817.000000</td>
      <td>7167.000000</td>
      <td>0.300000</td>
      <td>85.250000</td>
      <td>84.400000</td>
      <td>0.000000</td>
      <td>19620.000000</td>
      <td>4980.000000</td>
      <td>31.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2945.500000</td>
      <td>740845.500000</td>
      <td>11552.000000</td>
      <td>0.450000</td>
      <td>90.020000</td>
      <td>89.325000</td>
      <td>5891.000000</td>
      <td>25020.000000</td>
      <td>7020.000000</td>
      <td>39.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>3283.000000</td>
      <td>823903.000000</td>
      <td>34553.000000</td>
      <td>3.830000</td>
      <td>98.600000</td>
      <td>98.600000</td>
      <td>8000.000000</td>
      <td>28020.000000</td>
      <td>27480.000000</td>
      <td>118.000000</td>
    </tr>
  </tbody>
</table>
</div>

### 设备114夜班生产数据

In [20]:
tb22_dt3 = tb_22_clear.query("PB_SHIFT_ID == 3 & PM_MP_MACHINE_ID == '114'").sort_values('GATHERDATETIME')
tb22_dt3

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PRODUCEDATE</th>
      <th>PB_SHIFT_ID</th>
      <th>PM_MP_MACHINE_ID</th>
      <th>PB_PRODUCT_ID</th>
      <th>GATHERDATETIME</th>
      <th>TOTALPRODUCTION</th>
      <th>FILTERTIP</th>
      <th>TOTALWASTE</th>
      <th>TOTALWASTEPCT</th>
      <th>EFFMACHINE</th>
      <th>EFFPRODUCTION</th>
      <th>MACHINESPEED</th>
      <th>RUNTIME</th>
      <th>TOTALSTOPTIME</th>
      <th>TOTALSTOPCNT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9052</th>
      <td>2016-05-29</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-29 07:12:45</td>
      <td>2356</td>
      <td>592808</td>
      <td>6754</td>
      <td>0.29</td>
      <td>79.20</td>
      <td>79.20</td>
      <td>0</td>
      <td>18360</td>
      <td>7680</td>
      <td>34</td>
    </tr>
    <tr>
      <th>7656</th>
      <td>2016-05-31</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 05:01:24</td>
      <td>1460</td>
      <td>366961</td>
      <td>3996</td>
      <td>0.27</td>
      <td>71.10</td>
      <td>75.50</td>
      <td>7035</td>
      <td>13380</td>
      <td>4800</td>
      <td>21</td>
    </tr>
    <tr>
      <th>7660</th>
      <td>2016-05-31</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 07:14:09</td>
      <td>2270</td>
      <td>570461</td>
      <td>5995</td>
      <td>0.26</td>
      <td>76.10</td>
      <td>79.30</td>
      <td>0</td>
      <td>20460</td>
      <td>5700</td>
      <td>31</td>
    </tr>
    <tr>
      <th>8767</th>
      <td>2016-06-01</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-01 07:17:51</td>
      <td>2703</td>
      <td>678771</td>
      <td>6287</td>
      <td>0.26</td>
      <td>89.80</td>
      <td>89.80</td>
      <td>7034</td>
      <td>24000</td>
      <td>2340</td>
      <td>20</td>
    </tr>
    <tr>
      <th>9474</th>
      <td>2016-06-02</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-02 07:16:17</td>
      <td>2610</td>
      <td>655610</td>
      <td>6817</td>
      <td>0.26</td>
      <td>87.10</td>
      <td>87.10</td>
      <td>0</td>
      <td>23220</td>
      <td>3060</td>
      <td>17</td>
    </tr>
    <tr>
      <th>7511</th>
      <td>2016-06-03</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-03 07:17:50</td>
      <td>2803</td>
      <td>703982</td>
      <td>8293</td>
      <td>0.76</td>
      <td>93.10</td>
      <td>93.10</td>
      <td>7034</td>
      <td>24780</td>
      <td>1560</td>
      <td>9</td>
    </tr>
    <tr>
      <th>10051</th>
      <td>2016-06-07</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-07 07:17:46</td>
      <td>2814</td>
      <td>707713</td>
      <td>9498</td>
      <td>0.34</td>
      <td>93.50</td>
      <td>93.50</td>
      <td>7033</td>
      <td>24780</td>
      <td>1560</td>
      <td>30</td>
    </tr>
    <tr>
      <th>10823</th>
      <td>2016-06-08</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-08 07:17:46</td>
      <td>2812</td>
      <td>707840</td>
      <td>12357</td>
      <td>0.44</td>
      <td>93.40</td>
      <td>93.40</td>
      <td>7204</td>
      <td>24180</td>
      <td>2160</td>
      <td>22</td>
    </tr>
    <tr>
      <th>12040</th>
      <td>2016-06-14</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-14 07:22:33</td>
      <td>2697</td>
      <td>677910</td>
      <td>3627</td>
      <td>0.21</td>
      <td>90.70</td>
      <td>90.70</td>
      <td>7034</td>
      <td>23520</td>
      <td>2520</td>
      <td>33</td>
    </tr>
    <tr>
      <th>10936</th>
      <td>2016-06-16</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-16 07:17:38</td>
      <td>2840</td>
      <td>713241</td>
      <td>5976</td>
      <td>0.21</td>
      <td>94.40</td>
      <td>94.40</td>
      <td>7034</td>
      <td>24900</td>
      <td>1440</td>
      <td>14</td>
    </tr>
    <tr>
      <th>12077</th>
      <td>2016-06-17</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-17 07:17:38</td>
      <td>2831</td>
      <td>711592</td>
      <td>7251</td>
      <td>0.24</td>
      <td>94.10</td>
      <td>94.10</td>
      <td>7035</td>
      <td>24960</td>
      <td>1380</td>
      <td>25</td>
    </tr>
    <tr>
      <th>10311</th>
      <td>2016-06-18</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-18 07:17:37</td>
      <td>2808</td>
      <td>705786</td>
      <td>5944</td>
      <td>0.21</td>
      <td>93.30</td>
      <td>93.30</td>
      <td>7035</td>
      <td>24780</td>
      <td>1560</td>
      <td>28</td>
    </tr>
    <tr>
      <th>11479</th>
      <td>2016-06-19</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-19 07:17:37</td>
      <td>2817</td>
      <td>708408</td>
      <td>7562</td>
      <td>0.26</td>
      <td>93.60</td>
      <td>93.60</td>
      <td>7035</td>
      <td>24960</td>
      <td>1380</td>
      <td>27</td>
    </tr>
    <tr>
      <th>12252</th>
      <td>2016-06-21</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-21 07:17:34</td>
      <td>2575</td>
      <td>647834</td>
      <td>9362</td>
      <td>0.35</td>
      <td>85.60</td>
      <td>86.10</td>
      <td>7033</td>
      <td>23040</td>
      <td>3300</td>
      <td>39</td>
    </tr>
    <tr>
      <th>10364</th>
      <td>2016-06-22</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-22 07:17:35</td>
      <td>2612</td>
      <td>657365</td>
      <td>8784</td>
      <td>0.33</td>
      <td>86.80</td>
      <td>86.80</td>
      <td>7033</td>
      <td>23340</td>
      <td>3000</td>
      <td>38</td>
    </tr>
    <tr>
      <th>11524</th>
      <td>2016-06-23</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-23 07:17:34</td>
      <td>2369</td>
      <td>596061</td>
      <td>7334</td>
      <td>0.31</td>
      <td>78.70</td>
      <td>78.70</td>
      <td>7032</td>
      <td>21300</td>
      <td>5040</td>
      <td>31</td>
    </tr>
    <tr>
      <th>12164</th>
      <td>2016-06-24</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-24 07:17:34</td>
      <td>2170</td>
      <td>547036</td>
      <td>11541</td>
      <td>0.51</td>
      <td>72.10</td>
      <td>74.40</td>
      <td>7035</td>
      <td>19320</td>
      <td>7020</td>
      <td>29</td>
    </tr>
    <tr>
      <th>10231</th>
      <td>2016-06-25</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-25 07:14:51</td>
      <td>2510</td>
      <td>631309</td>
      <td>8263</td>
      <td>0.33</td>
      <td>83.90</td>
      <td>83.90</td>
      <td>0</td>
      <td>22440</td>
      <td>3780</td>
      <td>31</td>
    </tr>
    <tr>
      <th>16267</th>
      <td>2016-06-26</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-26 07:05:15</td>
      <td>2559</td>
      <td>644481</td>
      <td>12658</td>
      <td>0.49</td>
      <td>87.50</td>
      <td>87.50</td>
      <td>0</td>
      <td>23340</td>
      <td>2280</td>
      <td>29</td>
    </tr>
    <tr>
      <th>12416</th>
      <td>2016-07-05</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-05 07:17:23</td>
      <td>2808</td>
      <td>707494</td>
      <td>13909</td>
      <td>0.55</td>
      <td>93.30</td>
      <td>93.30</td>
      <td>0</td>
      <td>24900</td>
      <td>1440</td>
      <td>24</td>
    </tr>
    <tr>
      <th>11685</th>
      <td>2016-07-07</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-07 07:17:21</td>
      <td>2772</td>
      <td>698765</td>
      <td>15711</td>
      <td>0.58</td>
      <td>92.10</td>
      <td>92.10</td>
      <td>7035</td>
      <td>24480</td>
      <td>1860</td>
      <td>21</td>
    </tr>
    <tr>
      <th>13524</th>
      <td>2016-07-09</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-09 07:17:19</td>
      <td>2639</td>
      <td>664991</td>
      <td>14147</td>
      <td>0.53</td>
      <td>87.70</td>
      <td>87.70</td>
      <td>7033</td>
      <td>23580</td>
      <td>2760</td>
      <td>30</td>
    </tr>
    <tr>
      <th>11215</th>
      <td>2016-07-10</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-10 07:17:18</td>
      <td>2878</td>
      <td>724631</td>
      <td>15552</td>
      <td>0.54</td>
      <td>95.60</td>
      <td>95.60</td>
      <td>6967</td>
      <td>25260</td>
      <td>1080</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11204</th>
      <td>2016-07-12</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-12 07:17:16</td>
      <td>2730</td>
      <td>686187</td>
      <td>10589</td>
      <td>0.39</td>
      <td>90.70</td>
      <td>90.70</td>
      <td>7035</td>
      <td>24180</td>
      <td>2160</td>
      <td>16</td>
    </tr>
    <tr>
      <th>11978</th>
      <td>2016-07-13</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-13 07:17:14</td>
      <td>2682</td>
      <td>674834</td>
      <td>13238</td>
      <td>0.49</td>
      <td>89.10</td>
      <td>89.10</td>
      <td>7037</td>
      <td>24300</td>
      <td>2040</td>
      <td>21</td>
    </tr>
    <tr>
      <th>10416</th>
      <td>2016-07-14</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-14 07:17:14</td>
      <td>2652</td>
      <td>667019</td>
      <td>9807</td>
      <td>0.43</td>
      <td>88.10</td>
      <td>88.10</td>
      <td>7036</td>
      <td>23640</td>
      <td>2700</td>
      <td>21</td>
    </tr>
    <tr>
      <th>11376</th>
      <td>2016-07-15</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-15 07:17:13</td>
      <td>2806</td>
      <td>705257</td>
      <td>11124</td>
      <td>0.39</td>
      <td>93.20</td>
      <td>93.20</td>
      <td>7036</td>
      <td>24840</td>
      <td>1500</td>
      <td>13</td>
    </tr>
    <tr>
      <th>11872</th>
      <td>2016-07-16</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-16 07:17:13</td>
      <td>2634</td>
      <td>663374</td>
      <td>14048</td>
      <td>0.59</td>
      <td>87.50</td>
      <td>87.50</td>
      <td>7037</td>
      <td>23640</td>
      <td>2700</td>
      <td>23</td>
    </tr>
    <tr>
      <th>9959</th>
      <td>2016-07-26</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-26 07:17:04</td>
      <td>2314</td>
      <td>582861</td>
      <td>6480</td>
      <td>0.28</td>
      <td>76.90</td>
      <td>76.90</td>
      <td>7036</td>
      <td>21300</td>
      <td>5040</td>
      <td>37</td>
    </tr>
    <tr>
      <th>10606</th>
      <td>2016-07-27</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-27 07:17:02</td>
      <td>2509</td>
      <td>631280</td>
      <td>8747</td>
      <td>0.34</td>
      <td>83.40</td>
      <td>83.40</td>
      <td>7036</td>
      <td>23700</td>
      <td>2640</td>
      <td>38</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>23325</th>
      <td>2017-06-01</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-01 07:59:59</td>
      <td>3047</td>
      <td>765820</td>
      <td>5375</td>
      <td>0.18</td>
      <td>92.71</td>
      <td>90.05</td>
      <td>0</td>
      <td>21660</td>
      <td>3540</td>
      <td>20</td>
    </tr>
    <tr>
      <th>23827</th>
      <td>2017-06-02</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-02 07:59:43</td>
      <td>2716</td>
      <td>684240</td>
      <td>7285</td>
      <td>0.27</td>
      <td>80.93</td>
      <td>79.83</td>
      <td>0</td>
      <td>15180</td>
      <td>6780</td>
      <td>39</td>
    </tr>
    <tr>
      <th>24166</th>
      <td>2017-06-03</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-03 07:59:42</td>
      <td>2895</td>
      <td>728399</td>
      <td>6456</td>
      <td>0.22</td>
      <td>82.75</td>
      <td>82.66</td>
      <td>0</td>
      <td>16980</td>
      <td>5880</td>
      <td>35</td>
    </tr>
    <tr>
      <th>26008</th>
      <td>2017-06-06</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-06 07:59:53</td>
      <td>3160</td>
      <td>774100</td>
      <td>4242</td>
      <td>0.13</td>
      <td>91.80</td>
      <td>91.25</td>
      <td>0</td>
      <td>21900</td>
      <td>3420</td>
      <td>25</td>
    </tr>
    <tr>
      <th>26352</th>
      <td>2017-06-07</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-07 07:59:57</td>
      <td>2823</td>
      <td>707056</td>
      <td>3614</td>
      <td>0.13</td>
      <td>88.60</td>
      <td>87.26</td>
      <td>0</td>
      <td>16260</td>
      <td>6240</td>
      <td>18</td>
    </tr>
    <tr>
      <th>26769</th>
      <td>2017-06-08</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-08 07:59:45</td>
      <td>3045</td>
      <td>768116</td>
      <td>17502</td>
      <td>0.57</td>
      <td>88.27</td>
      <td>88.01</td>
      <td>0</td>
      <td>20220</td>
      <td>4260</td>
      <td>20</td>
    </tr>
    <tr>
      <th>26124</th>
      <td>2017-06-09</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-09 07:59:56</td>
      <td>2216</td>
      <td>559066</td>
      <td>8128</td>
      <td>0.36</td>
      <td>73.82</td>
      <td>73.72</td>
      <td>0</td>
      <td>7500</td>
      <td>10620</td>
      <td>32</td>
    </tr>
    <tr>
      <th>25250</th>
      <td>2017-06-10</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-10 07:59:05</td>
      <td>3005</td>
      <td>758419</td>
      <td>17269</td>
      <td>0.57</td>
      <td>90.83</td>
      <td>90.83</td>
      <td>7300</td>
      <td>20580</td>
      <td>4080</td>
      <td>25</td>
    </tr>
    <tr>
      <th>24117</th>
      <td>2017-06-13</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-13 07:59:47</td>
      <td>2900</td>
      <td>732488</td>
      <td>18868</td>
      <td>0.64</td>
      <td>86.14</td>
      <td>86.14</td>
      <td>7400</td>
      <td>19980</td>
      <td>4380</td>
      <td>30</td>
    </tr>
    <tr>
      <th>24971</th>
      <td>2017-06-14</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-14 07:59:59</td>
      <td>3030</td>
      <td>762793</td>
      <td>9529</td>
      <td>0.31</td>
      <td>88.10</td>
      <td>88.10</td>
      <td>0</td>
      <td>21420</td>
      <td>3660</td>
      <td>23</td>
    </tr>
    <tr>
      <th>25621</th>
      <td>2017-06-15</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-15 08:00:00</td>
      <td>2956</td>
      <td>743992</td>
      <td>11880</td>
      <td>0.40</td>
      <td>90.25</td>
      <td>86.64</td>
      <td>0</td>
      <td>19620</td>
      <td>4560</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23488</th>
      <td>2017-06-16</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-16 07:59:57</td>
      <td>2801</td>
      <td>706020</td>
      <td>13557</td>
      <td>0.48</td>
      <td>87.45</td>
      <td>87.45</td>
      <td>0</td>
      <td>17340</td>
      <td>5700</td>
      <td>20</td>
    </tr>
    <tr>
      <th>23985</th>
      <td>2017-06-17</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-17 07:59:53</td>
      <td>2226</td>
      <td>563499</td>
      <td>14782</td>
      <td>0.65</td>
      <td>79.28</td>
      <td>70.71</td>
      <td>0</td>
      <td>8700</td>
      <td>10020</td>
      <td>42</td>
    </tr>
    <tr>
      <th>26724</th>
      <td>2017-06-20</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-20 07:59:23</td>
      <td>2857</td>
      <td>718731</td>
      <td>6073</td>
      <td>0.21</td>
      <td>89.17</td>
      <td>88.48</td>
      <td>0</td>
      <td>18660</td>
      <td>5040</td>
      <td>22</td>
    </tr>
    <tr>
      <th>27135</th>
      <td>2017-06-21</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-21 07:59:52</td>
      <td>2952</td>
      <td>707765</td>
      <td>6309</td>
      <td>0.21</td>
      <td>88.34</td>
      <td>86.69</td>
      <td>1550</td>
      <td>19500</td>
      <td>4620</td>
      <td>20</td>
    </tr>
    <tr>
      <th>26422</th>
      <td>2017-06-22</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-22 07:59:32</td>
      <td>2944</td>
      <td>740390</td>
      <td>6027</td>
      <td>0.20</td>
      <td>89.65</td>
      <td>87.12</td>
      <td>0</td>
      <td>19620</td>
      <td>4560</td>
      <td>27</td>
    </tr>
    <tr>
      <th>26786</th>
      <td>2017-06-23</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-23 07:59:27</td>
      <td>2944</td>
      <td>735427</td>
      <td>7892</td>
      <td>0.27</td>
      <td>91.14</td>
      <td>87.73</td>
      <td>0</td>
      <td>19500</td>
      <td>4620</td>
      <td>25</td>
    </tr>
    <tr>
      <th>27180</th>
      <td>2017-06-24</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-24 07:59:53</td>
      <td>3103</td>
      <td>726110</td>
      <td>5070</td>
      <td>0.16</td>
      <td>89.63</td>
      <td>88.98</td>
      <td>0</td>
      <td>21720</td>
      <td>3480</td>
      <td>18</td>
    </tr>
    <tr>
      <th>24730</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-06-27 07:59:54</td>
      <td>2920</td>
      <td>639244</td>
      <td>9411</td>
      <td>0.32</td>
      <td>90.16</td>
      <td>89.37</td>
      <td>0</td>
      <td>19140</td>
      <td>4800</td>
      <td>27</td>
    </tr>
    <tr>
      <th>26932</th>
      <td>2017-07-05</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-05 07:59:53</td>
      <td>2858</td>
      <td>678650</td>
      <td>2502</td>
      <td>0.09</td>
      <td>86.19</td>
      <td>82.31</td>
      <td>7500</td>
      <td>17940</td>
      <td>5400</td>
      <td>26</td>
    </tr>
    <tr>
      <th>25971</th>
      <td>2017-07-06</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-06 07:59:42</td>
      <td>2711</td>
      <td>680795</td>
      <td>1657</td>
      <td>0.06</td>
      <td>83.96</td>
      <td>81.18</td>
      <td>0</td>
      <td>16380</td>
      <td>6180</td>
      <td>25</td>
    </tr>
    <tr>
      <th>24909</th>
      <td>2017-07-07</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-07 07:59:07</td>
      <td>2877</td>
      <td>722534</td>
      <td>1431</td>
      <td>0.05</td>
      <td>89.34</td>
      <td>84.03</td>
      <td>0</td>
      <td>18300</td>
      <td>5220</td>
      <td>22</td>
    </tr>
    <tr>

In [21]:
tb22_dt3.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PB_SHIFT_ID</th>
      <th>PM_MP_MACHINE_ID</th>
      <th>PB_PRODUCT_ID</th>
      <th>TOTALPRODUCTION</th>
      <th>FILTERTIP</th>
      <th>TOTALWASTE</th>
      <th>TOTALWASTEPCT</th>
      <th>EFFMACHINE</th>
      <th>EFFPRODUCTION</th>
      <th>MACHINESPEED</th>
      <th>RUNTIME</th>
      <th>TOTALSTOPTIME</th>
      <th>TOTALSTOPCNT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>222.0</td>
      <td>222.0</td>
      <td>222.0</td>
      <td>222.000000</td>
      <td>222.000000</td>
      <td>222.000000</td>
      <td>222.000000</td>
      <td>222.000000</td>
      <td>222.000000</td>
      <td>222.000000</td>
      <td>222.000000</td>
      <td>222.000000</td>
      <td>222.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>3.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2483.139640</td>
      <td>629737.693694</td>
      <td>8117.193694</td>
      <td>0.352748</td>
      <td>81.497342</td>
      <td>80.705811</td>
      <td>2446.292793</td>
      <td>18219.864865</td>
      <td>5591.081081</td>
      <td>31.013514</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>533.969607</td>
      <td>139141.519683</td>
      <td>5181.638773</td>
      <td>0.305112</td>
      <td>13.494764</td>
      <td>12.719628</td>
      <td>3358.244578</td>
      <td>5504.056627</td>
      <td>3450.505596</td>
      <td>13.736525</td>
    </tr>
    <tr>
      <th>min</th>
      <td>3.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>16.000000</td>
      <td>0.000000</td>
      <td>91.000000</td>
      <td>0.030000</td>
      <td>0.500000</td>
      <td>1.300000</td>
      <td>0.000000</td>
      <td>120.000000</td>
      <td>480.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>3.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2301.250000</td>
      <td>591137.750000</td>
      <td>4252.500000</td>
      <td>0.160000</td>
      <td>78.087500</td>
      <td>76.242500</td>
      <td>0.000000</td>
      <td>15210.000000</td>
      <td>3315.000000</td>
      <td>22.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>3.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2639.000000</td>
      <td>668841.500000</td>
      <td>7183.500000</td>
      <td>0.295000</td>
      <td>85.520000</td>
      <td>83.950000</td>
      <td>0.000000</td>
      <td>19140.000000</td>
      <td>5040.000000</td>
      <td>28.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>3.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>2829.000000</td>
      <td>712828.750000</td>
      <td>10851.000000</td>
      <td>0.460000</td>
      <td>88.925000</td>
      <td>88.100000</td>
      <td>7033.750000</td>
      <td>22830.000000</td>
      <td>6945.000000</td>
      <td>37.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>3.0</td>
      <td>114.0</td>
      <td>10001586.0</td>
      <td>3200.000000</td>
      <td>803508.000000</td>
      <td>33403.000000</td>
      <td>2.630000</td>
      <td>96.400000</td>
      <td>96.400000</td>
      <td>7700.000000</td>
      <td>25380.000000</td>
      <td>24780.000000</td>
      <td>88.000000</td>
    </tr>
  </tbody>
</table>
</div>

由三个班次的基本统计量可知，早班废品率最高，夜班最低。

In [22]:
a = tb22_dt1['TOTALWASTEPCT'].iloc[:200].reset_index().drop('index', axis=1)
b = tb22_dt2['TOTALWASTEPCT'].iloc[:200].reset_index().drop('index', axis=1)
c = tb22_dt3['TOTALWASTEPCT'].iloc[:200].reset_index().drop('index', axis=1)

print('均值：\n', a.mean(), '\n', b.mean(), '\n', c.mean())
print('标准差：\n', a.std(), '\n', b.std(), '\n', c.std())
print('变异系数：\n', a.std()/a.mean(), '\n', b.std()/b.mean(), '\n', c.std()/c.mean())

均值：
 TOTALWASTEPCT    0.46445
dtype: float64
 TOTALWASTEPCT    0.4127
dtype: float64
 TOTALWASTEPCT    0.3661
dtype: float64
标准差：
 TOTALWASTEPCT    0.698306
dtype: float64
 TOTALWASTEPCT    0.43245
dtype: float64
 TOTALWASTEPCT    0.313296
dtype: float64
变异系数：
 TOTALWASTEPCT    1.503511
dtype: float64
 TOTALWASTEPCT    1.047855
dtype: float64
 TOTALWASTEPCT    0.855767
dtype: float64

### 设备114每班次只取最后一条数据：

In [23]:
tb22_dt_last = tb22_dt.groupby(['PRODUCEDATE', 'PB_SHIFT_ID']).apply(lambda x:x.iloc[-1]).sort_values('GATHERDATETIME')
tb22_dt_last

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>PRODUCEDATE</th>
      <th>PB_SHIFT_ID</th>
      <th>PM_MP_MACHINE_ID</th>
      <th>PB_PRODUCT_ID</th>
      <th>GATHERDATETIME</th>
      <th>TOTALPRODUCTION</th>
      <th>FILTERTIP</th>
      <th>TOTALWASTE</th>
      <th>TOTALWASTEPCT</th>
      <th>EFFMACHINE</th>
      <th>EFFPRODUCTION</th>
      <th>MACHINESPEED</th>
      <th>RUNTIME</th>
      <th>TOTALSTOPTIME</th>
      <th>TOTALSTOPCNT</th>
    </tr>
    <tr>
      <th>PRODUCEDATE</th>
      <th>PB_SHIFT_ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">2016-05-28</th>
      <th>1</th>
      <td>2016-05-28</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-28 15:57:57</td>
      <td>135</td>
      <td>36663</td>
      <td>2094</td>
      <td>1.52</td>
      <td>4.10</td>
      <td>7.10</td>
      <td>0</td>
      <td>16620</td>
      <td>14520</td>
      <td>49</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-05-28</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-28 23:52:32</td>
      <td>2705</td>
      <td>679060</td>
      <td>4872</td>
      <td>0.18</td>
      <td>88.90</td>
      <td>90.40</td>
      <td>0</td>
      <td>25020</td>
      <td>3420</td>
      <td>27</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2016-05-29</th>
      <th>3</th>
      <td>2016-05-29</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-29 07:12:45</td>
      <td>2356</td>
      <td>592808</td>
      <td>6754</td>
      <td>0.29</td>
      <td>79.20</td>
      <td>79.20</td>
      <td>0</td>
      <td>18360</td>
      <td>7680</td>
      <td>34</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-05-29</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-29 15:47:09</td>
      <td>2725</td>
      <td>684564</td>
      <td>8004</td>
      <td>0.29</td>
      <td>91.80</td>
      <td>91.80</td>
      <td>0</td>
      <td>26820</td>
      <td>3720</td>
      <td>18</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2016-05-30</th>
      <th>1</th>
      <td>2016-05-30</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-30 15:54:06</td>
      <td>2479</td>
      <td>623010</td>
      <td>5283</td>
      <td>0.21</td>
      <td>82.10</td>
      <td>69.20</td>
      <td>0</td>
      <td>23340</td>
      <td>5880</td>
      <td>32</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-05-30</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-30 23:57:53</td>
      <td>3001</td>
      <td>753795</td>
      <td>6788</td>
      <td>0.22</td>
      <td>98.60</td>
      <td>98.60</td>
      <td>0</td>
      <td>26160</td>
      <td>2580</td>
      <td>28</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2016-05-31</th>
      <th>3</th>
      <td>2016-05-31</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 07:14:09</td>
      <td>2270</td>
      <td>570461</td>
      <td>5995</td>
      <td>0.26</td>
      <td>76.10</td>
      <td>79.30</td>
      <td>0</td>
      <td>20460</td>
      <td>5700</td>
      <td>31</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-05-31</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 15:57:54</td>
      <td>2722</td>
      <td>683458</td>
      <td>5114</td>
      <td>0.19</td>
      <td>89.40</td>
      <td>89.40</td>
      <td>0</td>
      <td>27540</td>
      <td>3600</td>
      <td>23</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-05-31</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 22:53:31</td>
      <td>2356</td>
      <td>591276</td>
      <td>4918</td>
      <td>0.21</td>
      <td>90.80</td>
      <td>91.80</td>
      <td>0</td>
      <td>20820</td>
      <td>4080</td>
      <td>12</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2016-06-01</th>
      <th>3</th>
      <td>2016-06-01</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-01 07:17:51</td>
      <td>2703</td>
      <td>678771</td>
      <td>6287</td>
      <td>0.26</td>
      <td>89.80</td>
      <td>89.80</td>
      <td>7034</td>
      <td>24000</td>
      <td>2340</td>
      <td>20</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-06-01</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-01 23:57:53</td>
      <td>2999</td>
      <td>753600</td>
      <td>6575</td>
      <td>0.22</td>
      <td>98.50</td>
      <td>98.50</td>
      <td>7034</td>
      <td>26820</td>
      <td>1920</td>
      <td>31</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2016-06-02</th>
      <th>3</th>
      <td>2016-06-02</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-02 07:16:17</td>
      <td>2610</td>
      <td>655610</td>
      <td>6817</td>
      <td>0.26</td>
      <td>87.10</td>
      <td>87.10</td>
      <td>0</td>
      <td>23220</td>
      <td>3060</td>
      <td>17</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-06-02</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-02 15:57:52</td>
      <td>2952</td>
      <td>741485</td>
      <td>6181</td>
      <td>0.25</td>
      <td>89.70</td>
      <td>89.70</td>
      <td>0</td>
      <td>28020</td>
      <td>2520</td>
      <td>22</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-06-02</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-02 23:57:51</td>
      <td>2625</td>
      <td>661555</td>
      <td>8141</td>
      <td>0.35</td>
      <td>79.80</td>
      <td>79.80</td>
      <td>0</td>
      <td>23520</td>
      <td>5220</td>
      <td>38</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2016-06-03</th>
      <th>3</th>
      <td>2016-06-03</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-03 07:17:50</td>
      <td>2803</td>
      <td>703982</td>
      <td>8293</td>
      <td>0.76</td>
      <td>93.10</td>
      <td>93.10</td>
      <td>7034</td>
      <td>24780</td>
      <td>1560</td>
      <td>9</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-06-03</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-03 23:54:09</td>
      <td>2942</td>
      <td>740270</td>
      <td>11333</td>
      <td>0.38</td>
      <td>90.10</td>
      <td>90.10</td>
      <td>0</td>
      <td>25980</td>
      <td>2580</td>
      <td>22</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2016-06-05</th>
      <th>1</th>
      <td>2016-06-05</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-05 15:57:50</td>
      <td>2700</td>
      <td>679045</td>
      <td>8110</td>
      <td>0.30</td>
      <td>82.10</td>
      <td>82.10</td>
      <td>0</td>
      <td>26040</td>
      <td>4500</td>
      <td>39</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-06-05</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-05 23:57:48</td>
      <td>2700</td>
      <td>680292</td>
      <td>13785</td>
      <td>0.51</td>
      <td>82.10</td>
      <td>82.10</td>
      <td>0</td>
      <td>24360</td>
      <td>4380</td>
      <td>34</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2016-06-06</th>
      <th>1</th>
      <td>2016-06-06</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-06 15:57:48</td>
      <td>2500</td>
      <td>628370</td>
      <td>4216</td>
      <td>0.17</td>
      <td>76.00</td>
      <td>76.00</td>
      <td>0</td>
      <td>24180</td>
      <td>6360</td>
      <td>29</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-06-06</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-06 23:43:48</td>
      <td>2560</td>
      <td>642536</td>
      <td>6241</td>
      <td>0.24</td>
      <td>80.20</td>
      <td>82.80</td>
      <td>0</td>
      <td>23520</td>
      <td>4380</td>
      <td>17</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2016-06-07</th>
      <th>3</th>
      <td>2016-06-07</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-07 07:17:46</td>
      <td>2814</td>
      <td>707713</td>
      <td>9498</td>
      <td>0.34</td>
      <td>93.50</td>
      <td>93.50</td>
      <td>7033</td>
      <td>24780</td>
      <td>1560</td>
      <td>30</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-06-07</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-07 15:56:43</td>
      <td>3162</td>
      <td>794157</td>
      <td>8263</td>
      <td>0.26</td>
      <td>96.30</td>
      <td>96.30</td>
      <td>0</td>
      <td>29040</td>
      <td>1440</td>
      <td>18</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-06-07</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-07 23:50:28</td>
      <td>3130</td>
      <td>786597</td>
      <td>11413</td>
      <td>0.36</td>
      <td>96.60</td>
      <td>96.60</td>
      <td>1009</td>
      <td>26940</td>
      <td>1380</td>
      <td>13</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2016-06-08</th>
      <th>3</th>
      <td>2016-06-08</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-08 07:17:46</td>
      <td>2812</td>
      <td>707840</td>
      <td>12357</td>
      <td>0.44</td>
      <td>93.40</td>
      <td>93.40</td>
      <td>7204</td>
      <td>24180</td>
      <td>2160</td>
      <td>22</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-06-08</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-08 15:57:45</td>
      <td>3180</td>
      <td>799238</td>
      <td>10174</td>
      <td>0.32</td>
      <td>96.70</td>
      <td>96.70</td>
      <td>0</td>
      <td>28980</td>
      <td>1560</td>
      <td>25</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-06-08</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-08 23:24:35</td>
      <td>2594</td>
      <td>653504</td>
      <td>13716</td>
      <td>0.52</td>
      <td>84.90</td>
      <td>84.90</td>
      <td>0</td>
      <td>23160</td>
      <td>3600</td>
      <td>24</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2016-06-10</th>
      <th>1</th>
      <td>2016-06-10</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-10 15:57:45</td>
      <td>3060</td>
      <td>769060</td>
      <td>10346</td>
      <td>0.34</td>
      <td>93.00</td>
      <td>93.00</td>
      <td>397</td>
      <td>28200</td>
      <td>2340</td>
      <td>21</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-06-10</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-10 23:57:44</td>
      <td>3080</td>
      <td>774092</td>
      <td>10641</td>
      <td>0.34</td>
      <td>93.60</td>
      <td>93.60</td>
      <td>0</td>
      <td>26580</td>
      <td>2160</td>
      <td>17</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2016-06-11</th>
      <th>1</th>
      <td>2016-06-11</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-11 15:56:20</td>
      <td>2995</td>
      <td>752979</td>
      <td>9190</td>
      <td>0.35</td>
      <td>91.30</td>
      <td>91.30</td>
      <td>0</td>
      <td>28140</td>
      <td>2340</td>
      <td>24</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-06-11</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-11 23:48:03</td>
      <td>2950</td>
      <td>741908</td>
      <td>12216</td>
      <td>0.46</td>
      <td>91.60</td>
      <td>91.60</td>
      <td>0</td>
      <td>26160</td>
      <td>2040</td>
      <td>16</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2017-07-12</th>
      <th>2</th>
      <td>2017-07-12</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-12 23:59:14</td>
      <td>2774</td>
      <td>709103</td>
      <td>2354</td>
      <td>0.08</td>
      <td>82.90</td>
      <td>81.23</td>
      <td>0</td>
      <td>17580</td>
      <td>5520</td>
      <td>29</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2017-07-13</th>
      <th>3</th>
      <td>2017-07-13</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-13 06:04:55</td>
      <td>2022</td>
      <td>508543</td>
      <td>1608</td>
      <td>0.08</td>
      <td>83.89</td>
      <td>77.11</td>
      <td>7500</td>
      <td>11880</td>
      <td>5040</td>
      <td>26</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-07-13</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-13 15:59:54</td>
      <td>2950</td>
      <td>737613</td>
      <td>2603</td>
      <td>0.09</td>
      <td>85.01</td>
      <td>83.00</td>
      <td>0</td>
      <td>18780</td>
      <td>4980</td>
      <td>18</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-07-13</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-13 23:59:53</td>
      <td>2716</td>
      <td>682411</td>
      <td>4583</td>
      <td>0.17</td>
      <td>78.81</td>
      <td>77.29</td>
      <td>0</td>
      <td>15540</td>
      <td>6600</td>
      <td>20</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2017-07-14</th>
      <th>3</th>
      <td>2017-07-14</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-14 05:54:25</td>
      <td>2298</td>
      <td>577650</td>
      <td>3230</td>
      <td>0.14</td>
      <td>87.26</td>
      <td>86.74</td>
      <td>7500</td>
      <td>15720</td>
      <td>2820</td>
      <td>16</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-07-14</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-14 23:59:58</td>
      <td>2841</td>
      <td>714559</td>
      <td>2668</td>
      <td>0.09</td>
      <td>82.73</td>
      <td>81.81</td>
      <td>0</td>
      <td>17820</td>
      <td>5460</td>
      <td>46</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2017-07-15</th>
      <th>3</th>
      <td>2017-07-15</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-15 04:34:39</td>
      <td>1799</td>
      <td>452412</td>
      <td>900</td>
      <td>0.05</td>
      <td>93.53</td>
      <td>93.20</td>
      <td>7600</td>
      <td>12840</td>
      <td>1860</td>
      <td>15</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-07-15</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-15 15:59:14</td>
      <td>525</td>
      <td>132078</td>
      <td>288</td>
      <td>0.05</td>
      <td>87.22</td>
      <td>86.79</td>
      <td>0</td>
      <td>15060</td>
      <td>6720</td>
      <td>30</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-07-15</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-15 16:54:29</td>
      <td>382</td>
      <td>96011</td>
      <td>174</td>
      <td>0.05</td>
      <td>95.44</td>
      <td>95.44</td>
      <td>7500</td>
      <td>2760</td>
      <td>300</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2017-07-17</th>
      <th>1</th>
      <td>2017-07-17</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-17 10:15:00</td>
      <td>857</td>
      <td>215478</td>
      <td>1862</td>
      <td>0.22</td>
      <td>93.71</td>
      <td>91.68</td>
      <td>7200</td>
      <td>6300</td>
      <td>960</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-07-17</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-17 23:59:49</td>
      <td>2780</td>
      <td>701888</td>
      <td>10572</td>
      <td>0.38</td>
      <td>84.11</td>
      <td>83.51</td>
      <td>0</td>
      <td>16980</td>
      <td>5880</td>
      <td>43</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2017-07-18</th>
      <th>3</th>
      <td>2017-07-18</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-18 06:54:19</td>
      <td>2435</td>
      <td>612352</td>
      <td>2925</td>
      <td>0.12</td>
      <td>87.56</td>
      <td>86.12</td>
      <td>7490</td>
      <td>13920</td>
      <td>5520</td>
      <td>25</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-07-18</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-18 14:04:27</td>
      <td>2021</td>
      <td>508501</td>
      <td>2692</td>
      <td>0.13</td>
      <td>81.64</td>
      <td>81.64</td>
      <td>7600</td>
      <td>11400</td>
      <td>5280</td>
      <td>40</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-07-18</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-18 23:59:58</td>
      <td>2684</td>
      <td>676531</td>
      <td>3989</td>
      <td>0.15</td>
      <td>82.06</td>
      <td>82.06</td>
      <td>7200</td>
      <td>15780</td>
      <td>6480</td>
      <td>39</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2017-07-19</th>
      <th>3</th>
      <td>2017-07-19</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-19 08:00:00</td>
      <td>2977</td>
      <td>748749</td>
      <td>3991</td>
      <td>0.13</td>
      <td>87.61</td>
      <td>87.29</td>
      <td>0</td>
      <td>18900</td>
      <td>4920</td>
      <td>22</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-07-19</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-19 15:59:59</td>
      <td>2895</td>
      <td>725997</td>
      <td>2887</td>
      <td>0.10</td>
      <td>91.33</td>
      <td>87.16</td>
      <td>0</td>
      <td>18420</td>
      <td>5160</td>
      <td>26</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-07-19</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-19 17:04:55</td>
      <td>298</td>
      <td>75549</td>
      <td>190</td>
      <td>0.06</td>
      <td>61.15</td>
      <td>61.15</td>
      <td>7600</td>
      <td>900</td>
      <td>1560</td>
      <td>12</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2017-07-20</th>
      <th>1</th>
      <td>2017-07-20</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-20 15:59:07</td>
      <td>2600</td>
      <td>618007</td>
      <td>3299</td>
      <td>0.13</td>
      <td>80.36</td>
      <td>78.91</td>
      <td>7100</td>
      <td>14940</td>
      <td>6900</td>
      <td>25</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-07-20</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-20 20:54:20</td>
      <td>1881</td>
      <td>446520</td>
      <td>1090</td>
      <td>0.06</td>
      <td>91.32</td>
      <td>89.32</td>
      <td>7100</td>
      <td>13080</td>

In [24]:
# to_csv = tb22_dt_last.rename(columns={'PRODUCEDATE': '生产日期', 'PB_SHIFT_ID': '班次', 'PM_MP_MACHINE_ID': '设备ID', 'PB_PRODUCT_ID': '产品ID', 'GATHERDATETIME': '采集时间', 'TOTALPRODUCTION': '总产量', 'FILTERTIP': '过滤嘴', 'TOTALWASTE': '总废品', 'TOTALWASTEPCT': '总废品率', 'EFFMACHINE': '机器效率', 'EFFPRODUCTION': '生产效率', 'MACHINESPEED': '机器速度', 'RUNTIME': '运行时间', 'TOTALSTOPTIME': '总停机时间', 'TOTALSTOPCNT': '总停机次数'}).set_index('采集时间')
# to_csv.to_csv('m114_p.csv')

### 设备114生产数据回归分析

### 数据预处理

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

X = tb22_dt_last.drop(columns=['PRODUCEDATE', 'PB_SHIFT_ID', 'PM_MP_MACHINE_ID', 'PB_PRODUCT_ID', 'GATHERDATETIME', 'TOTALWASTEPCT', 'MACHINESPEED'])
y = tb22_dt_last['TOTALWASTEPCT']
y = np.array(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=666)

scaler1 = MinMaxScaler()

X_scaler1 = scaler1.fit_transform(X)
y_scaler1 = scaler1.fit_transform(y.reshape(-1, 1))

scaler2 = StandardScaler()

X_scaler2 = scaler2.fit_transform(X)
y_scaler2 = scaler2.fit_transform(y.reshape(-1, 1))

Xtrain, Xtest, ytrain, ytest = train_test_split(X_scaler2, y_scaler2, test_size=0.2, random_state=666)

In [26]:
plt.figure(figsize=(16, 10))
plt.plot(np.fft.fft(y))
plt.show()

/Users/jing/.virtualenvs/pydata/lib/python3.6/site-packages/numpy/core/numeric.py:492: ComplexWarning: Casting complex values to real discards the imaginary part
  return array(a, dtype, copy=False, order=order)

In [27]:
plt.figure(figsize=(16, 10))
plt.plot(np.fft.rfft(y))
plt.show()

/Users/jing/.virtualenvs/pydata/lib/python3.6/site-packages/numpy/core/numeric.py:492: ComplexWarning: Casting complex values to real discards the imaginary part
  return array(a, dtype, copy=False, order=order)

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost.sklearn import XGBRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import explained_variance_score, mean_absolute_error, mean_squared_error, r2_score

# 训练回归模型
n_folds = 6 # 交叉检验次数
lr = LinearRegression() # 线性回归
svr = SVR(C=100, epsilon=0.1, gamma=0.1) # 支持向量机回归
rf = RandomForestRegressor(n_estimators=20,
                           max_depth=10,
                           min_samples_split=2,
                           min_samples_leaf=1,
                           max_features=4,
                           random_state=10) # 随机森林回归
gbr = GradientBoostingRegressor(learning_rate=0.1,
                                n_estimators=120,
                                max_depth=3,
                                min_samples_leaf=1,
                                min_samples_split=2,
                                max_features=8,
                                subsample=1) # GBDT回归
xgb = XGBRegressor(gamma=0, 
                   reg_lambda=0.08, 
                   silent=False, 
                   subsample=0.5, 
                   max_depth=3, 
                   colsample_bytree=0.8, 
                   min_child_weight=1, 
                   learning_rate=0.2) # xgboost回归
mnames = ['LinearRegression', 'SVR', 'RandomForestRegressor', 'GradientBoostingRegressor', 'xgboost'] # 回归模型名称列表
mlist = [lr, svr, rf, gbr, xgb] # 回归模型对象列表
cv_scores = [] # 交叉检验结果列表
y_pred = [] # 回归模型预测y值列表

for model in mlist:
    scores = cross_val_score(model, Xtrain, ytrain.ravel(), cv=n_folds) # 将每个回归模型导入交叉检验
    predicted = model.fit(Xtrain, ytrain.ravel()).predict(Xtest) # 回归训练得到预测y值
    cv_scores.append(scores) # 将交叉验证结果存入列表
    y_pred.append(predicted) # 将回归训练中得到的预测y值存入列表

# 模型效果评估
n_samples, n_features = Xtrain.shape # 总样本数，总特征数
metrics_name = [explained_variance_score, mean_absolute_error, mean_squared_error, r2_score] # 回归评估指标对象集
metrics_list = [] # 回归评估指标列表

for i in range(len(mlist)):
    tmp = [] # 每个内循环的临时结果列表
    for m in metrics_name:
        score = m(ytest, y_pred[i]) # 计算每个回归指标结果
        tmp.append(score)
    metrics_list.append(tmp)

df_cv = pd.DataFrame(cv_scores, index=mnames) # 交叉验证数据框
df_metrics = pd.DataFrame(metrics_list, index=mnames, columns=['ev', 'mae', 'mse', 'r2']) # 回归指标数据框

/Users/jing/.virtualenvs/pydata/lib/python3.6/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

In [29]:
df_cv

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>LinearRegression</th>
      <td>0.351826</td>
      <td>0.399034</td>
      <td>0.318051</td>
      <td>0.698296</td>
      <td>0.387328</td>
      <td>0.366394</td>
    </tr>
    <tr>
      <th>SVR</th>
      <td>0.412770</td>
      <td>0.449882</td>
      <td>0.895430</td>
      <td>0.777242</td>
      <td>0.402814</td>
      <td>-1.440510</td>
    </tr>
    <tr>
      <th>RandomForestRegressor</th>
      <td>0.663229</td>
      <td>0.773370</td>
      <td>0.897898</td>
      <td>0.731278</td>
      <td>0.734406</td>
      <td>-0.767500</td>
    </tr>
    <tr>
      <th>GradientBoostingRegressor</th>
      <td>0.919339</td>
      <td>0.962089</td>
      <td>0.905324</td>
      <td>0.936676</td>
      <td>0.735639</td>
      <td>-0.436874</td>
    </tr>
    <tr>
      <th>xgboost</th>
      <td>0.665022</td>
      <td>0.577396</td>
      <td>0.914475</td>
      <td>0.570323</td>
      <td>0.747457</td>
      <td>-1.578188</td>
    </tr>
  </tbody>
</table>
</div>

In [30]:
df_metrics

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ev</th>
      <th>mae</th>
      <th>mse</th>
      <th>r2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>LinearRegression</th>
      <td>0.534330</td>
      <td>0.308623</td>
      <td>0.492384</td>
      <td>0.534118</td>
    </tr>
    <tr>
      <th>SVR</th>
      <td>0.834276</td>
      <td>0.139246</td>
      <td>0.177109</td>
      <td>0.832423</td>
    </tr>
    <tr>
      <th>RandomForestRegressor</th>
      <td>0.401880</td>
      <td>0.182980</td>
      <td>0.638881</td>
      <td>0.395505</td>
    </tr>
    <tr>
      <th>GradientBoostingRegressor</th>
      <td>0.404903</td>
      <td>0.174718</td>
      <td>0.637965</td>
      <td>0.396373</td>
    </tr>
    <tr>
      <th>xgboost</th>
      <td>0.603486</td>
      <td>0.165092</td>
      <td>0.422435</td>
      <td>0.600302</td>
    </tr>
  </tbody>
</table>
</div>

In [31]:
# 模型效果可视化
plt.figure(figsize=(16, 10))  # 创建画布
plt.plot(np.arange(Xtest.shape[0]), ytest, color='k', label='true y')  # 画出原始值的曲线
color_list = ['r', 'b', 'g', 'y', 'c']  # 颜色列表
linestyle_list = ['-', '.', 'o', 'v', '*']  # 样式列表
for i, pre_y in enumerate(y_pred):  # 读出通过回归模型预测得到的索引及结果
    plt.plot(np.arange(Xtest.shape[0]), y_pred[i], color_list[i], label=mnames[i])  # 画出每条预测结果线
plt.title('regression result comparison')  # 标题
plt.legend(loc='upper right')  # 图例位置
plt.ylabel('real and predicted value')  # y轴标题
plt.show()  # 展示图像

In [32]:
# %%time

# from sklearn.model_selection import GridSearchCV

# grid = GridSearchCV(SVR(),
#                     param_grid={"C":[0.1, 1, 10, 100],
#                                 "epsilon":[0.1, 1, 10],
#                                 "gamma":[0.01, 0.1, 1]},
#                     cv=10)
# grid.fit(Xtrain, ytrain.ravel())
# print("The best parameters are %s with a score of %0.2f"
#       % (grid.best_params_, grid.best_score_))

## 表46、47  TEST_DATA  检测数据

In [33]:
tb_46_new = tb_46[['MACH_ID', 'TEST_ID', 'WEIGHT_VALUE', 'CIRCLE_VALUE', 'LENGTH_VALUE', 'PD_VALUE']]
tb_46_new.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MACH_ID</th>
      <th>TEST_ID</th>
      <th>WEIGHT_VALUE</th>
      <th>CIRCLE_VALUE</th>
      <th>LENGTH_VALUE</th>
      <th>PD_VALUE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.528</td>
      <td>17.045092</td>
      <td>97.210899</td>
      <td>1.793685</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.543</td>
      <td>17.025764</td>
      <td>97.003197</td>
      <td>1.808758</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.540</td>
      <td>16.983648</td>
      <td>96.938400</td>
      <td>1.862607</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.517</td>
      <td>16.937761</td>
      <td>96.846497</td>
      <td>1.824378</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test1</td>
      <td>2015-10-28 09:26:22OM-VA</td>
      <td>0.571</td>
      <td>16.995275</td>
      <td>97.066200</td>
      <td>1.940983</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
tb_47_new = tb_47[['MACH_ID', 'TEST_ID', 'SAMPLE_NAME', 'LINE_NAME']]
tb_47_new.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MACH_ID</th>
      <th>TEST_ID</th>
      <th>SAMPLE_NAME</th>
      <th>LINE_NAME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test5</td>
      <td>2015-09-30 08:23:12</td>
      <td>利群（新版）</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test5</td>
      <td>2015-09-30 08:36:33</td>
      <td>利群（新版）</td>
      <td>13.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test5</td>
      <td>2015-10-05 18:11:39</td>
      <td>利群（新版）</td>
      <td>13.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test5</td>
      <td>2015-10-05 18:28:22</td>
      <td>真龙（珍品）</td>
      <td>16.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test5</td>
      <td>2015-10-05 19:24:29</td>
      <td>利群（新版）</td>
      <td>13.0</td>
    </tr>
  </tbody>
</table>
</div>

In [35]:
droped = tb_46_new[(tb_46_new['WEIGHT_VALUE'] <= 0) | (tb_46_new['CIRCLE_VALUE'] <= 0) | 
                   (tb_46_new['LENGTH_VALUE'] <= 0) | (tb_46_new['PD_VALUE'] <= 0) | 
                  (tb_46_new['WEIGHT_VALUE'] > 10) | (tb_46_new['CIRCLE_VALUE'] > 100) | 
                   (tb_46_new['LENGTH_VALUE'] > 100) | (tb_46_new['PD_VALUE'] > 10)]

In [36]:
tb_46_clear = tb_46_new.append(droped).drop_duplicates(keep=False)
tb_46_clear.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MACH_ID</th>
      <th>TEST_ID</th>
      <th>WEIGHT_VALUE</th>
      <th>CIRCLE_VALUE</th>
      <th>LENGTH_VALUE</th>
      <th>PD_VALUE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.528</td>
      <td>17.045092</td>
      <td>97.210899</td>
      <td>1.793685</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.543</td>
      <td>17.025764</td>
      <td>97.003197</td>
      <td>1.808758</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.540</td>
      <td>16.983648</td>
      <td>96.938400</td>
      <td>1.862607</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.517</td>
      <td>16.937761</td>
      <td>96.846497</td>
      <td>1.824378</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test1</td>
      <td>2015-10-28 09:26:22OM-VA</td>
      <td>0.571</td>
      <td>16.995275</td>
      <td>97.066200</td>
      <td>1.940983</td>
    </tr>
  </tbody>
</table>
</div>

In [37]:
tb_46_mg = pd.merge(tb_46_clear, tb_47_new, how='left')
tb_46_mg.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MACH_ID</th>
      <th>TEST_ID</th>
      <th>WEIGHT_VALUE</th>
      <th>CIRCLE_VALUE</th>
      <th>LENGTH_VALUE</th>
      <th>PD_VALUE</th>
      <th>SAMPLE_NAME</th>
      <th>LINE_NAME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.528</td>
      <td>17.045092</td>
      <td>97.210899</td>
      <td>1.793685</td>
      <td>真龙(凌云)1401</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.543</td>
      <td>17.025764</td>
      <td>97.003197</td>
      <td>1.808758</td>
      <td>真龙(凌云)1401</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.540</td>
      <td>16.983648</td>
      <td>96.938400</td>
      <td>1.862607</td>
      <td>真龙(凌云)1401</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.517</td>
      <td>16.937761</td>
      <td>96.846497</td>
      <td>1.824378</td>
      <td>真龙(凌云)1401</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test1</td>
      <td>2015-10-28 09:26:22OM-VA</td>
      <td>0.571</td>
      <td>16.995275</td>
      <td>97.066200</td>
      <td>1.940983</td>
      <td>真龙(凌云)1401</td>
      <td>6.0</td>
    </tr>
  </tbody>
</table>
</div>

### 将质量数据和设备ID关联起来

In [38]:
machine = pd.read_csv('/Users/jing/pydata/datasets/plantiq/广西卷烟厂/MT_PB_MACHINE.csv')[['PM_MP_MACHINE_ID', 'DC_PB_MACHINEGROUPID']]
machine.rename(columns={'DC_PB_MACHINEGROUPID':'LINE_NAME'}, inplace=True)
machine = machine.query('PM_MP_MACHINE_ID < 200') # 只选卷接机设备
machine.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PM_MP_MACHINE_ID</th>
      <th>LINE_NAME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>121</td>
      <td>21</td>
    </tr>
    <tr>
      <th>7</th>
      <td>122</td>
      <td>22</td>
    </tr>
    <tr>
      <th>8</th>
      <td>123</td>
      <td>23</td>
    </tr>
    <tr>
      <th>9</th>
      <td>124</td>
      <td>24</td>
    </tr>
    <tr>
      <th>15</th>
      <td>125</td>
      <td>24</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:
tb46 = pd.merge(tb_46_mg, machine, how='left')
tb46.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MACH_ID</th>
      <th>TEST_ID</th>
      <th>WEIGHT_VALUE</th>
      <th>CIRCLE_VALUE</th>
      <th>LENGTH_VALUE</th>
      <th>PD_VALUE</th>
      <th>SAMPLE_NAME</th>
      <th>LINE_NAME</th>
      <th>PM_MP_MACHINE_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.528</td>
      <td>17.045092</td>
      <td>97.210899</td>
      <td>1.793685</td>
      <td>真龙(凌云)1401</td>
      <td>6</td>
      <td>106.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.543</td>
      <td>17.025764</td>
      <td>97.003197</td>
      <td>1.808758</td>
      <td>真龙(凌云)1401</td>
      <td>6</td>
      <td>106.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.540</td>
      <td>16.983648</td>
      <td>96.938400</td>
      <td>1.862607</td>
      <td>真龙(凌云)1401</td>
      <td>6</td>
      <td>106.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>test1</td>
      <td>2015-10-28 09:16:45OM-VA</td>
      <td>0.517</td>
      <td>16.937761</td>
      <td>96.846497</td>
      <td>1.824378</td>
      <td>真龙(凌云)1401</td>
      <td>6</td>
      <td>106.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>test1</td>
      <td>2015-10-28 09:26:22OM-VA</td>
      <td>0.571</td>
      <td>16.995275</td>
      <td>97.066200</td>
      <td>1.940983</td>
      <td>真龙(凌云)1401</td>
      <td>6</td>
      <td>106.0</td>
    </tr>
  </tbody>
</table>
</div>

### 选取设备114的质量数据进行分析

In [40]:
tb46_dt = tb46.query("PM_MP_MACHINE_ID == 114").sort_values('TEST_ID')
tb46_dt

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MACH_ID</th>
      <th>TEST_ID</th>
      <th>WEIGHT_VALUE</th>
      <th>CIRCLE_VALUE</th>
      <th>LENGTH_VALUE</th>
      <th>PD_VALUE</th>
      <th>SAMPLE_NAME</th>
      <th>LINE_NAME</th>
      <th>PM_MP_MACHINE_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>68456</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.887</td>
      <td>24.511419</td>
      <td>84.365097</td>
      <td>1.076073</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>57968</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.927</td>
      <td>24.521954</td>
      <td>84.010796</td>
      <td>1.110270</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>57969</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.908</td>
      <td>24.501202</td>
      <td>84.013496</td>
      <td>1.139207</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>57970</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.857</td>
      <td>24.505289</td>
      <td>84.331696</td>
      <td>1.094487</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>68457</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.891</td>
      <td>24.467875</td>
      <td>84.086197</td>
      <td>1.170774</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>68455</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.921</td>
      <td>24.579332</td>
      <td>83.990295</td>
      <td>1.172090</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>57971</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.903</td>
      <td>24.470860</td>
      <td>83.935196</td>
      <td>1.147099</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>57965</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.922</td>
      <td>24.555752</td>
      <td>83.447197</td>
      <td>1.108955</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>57964</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.928</td>
      <td>24.546635</td>
      <td>84.154198</td>
      <td>1.130000</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>57967</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.882</td>
      <td>24.416939</td>
      <td>84.277596</td>
      <td>1.051082</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>57966</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.917</td>
      <td>24.479193</td>
      <td>83.581696</td>
      <td>1.143153</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>60533</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.894</td>
      <td>24.423225</td>
      <td>83.876099</td>
      <td>1.097117</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>60534</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.870</td>
      <td>24.511892</td>
      <td>84.002296</td>
      <td>1.085280</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>60535</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.874</td>
      <td>24.478249</td>
      <td>84.008301</td>
      <td>1.068181</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>60536</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.889</td>
      <td>24.502932</td>
      <td>83.870300</td>
      <td>1.062920</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>68453</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.873</td>
      <td>24.483595</td>
      <td>83.761299</td>
      <td>1.082649</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>68452</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.883</td>
      <td>24.501202</td>
      <td>83.660599</td>
      <td>1.090541</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>68451</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.918</td>
      <td>24.554338</td>
      <td>83.415894</td>
      <td>1.076073</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>68450</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.888</td>
      <td>24.554966</td>
      <td>84.082001</td>
      <td>1.089226</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>68454</th>
      <td>test2</td>
      <td>2012-08-19 02:15:55</td>
      <td>0.873</td>
      <td>24.469446</td>
      <td>83.380798</td>
      <td>1.052397</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>76287</th>
      <td>test2</td>
      <td>2012-08-20 14:19:12</td>
      <td>0.886</td>
      <td>24.580750</td>
      <td>84.130295</td>
      <td>1.114131</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>76289</th>
      <td>test2</td>
      <td>2012-08-20 14:19:12</td>
      <td>0.907</td>
      <td>24.501673</td>
      <td>84.315201</td>
      <td>1.184218</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>76288</th>
      <td>test2</td>
      <td>2012-08-20 14:19:12</td>
      <td>0.932</td>
      <td>24.574459</td>
      <td>83.712494</td>
      <td>1.124710</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>76286</th>
      <td>test2</td>
      <td>2012-08-20 14:19:12</td>
      <td>0.928</td>
      <td>24.634514</td>
      <td>84.024200</td>
      <td>1.165704</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>76285</th>
      <td>test2</td>
      <td>2012-08-20 14:19:12</td>
      <td>0.931</td>
      <td>24.609203</td>
      <td>84.353897</td>
      <td>1.192152</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>76284</th>
      <td>test2</td>
      <td>2012-08-20 14:19:12</td>
      <td>0.869</td>
      <td>24.570215</td>
      <td>83.945801</td>
      <td>1.118098</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>76283</th>
      <td>test2</td>
      <td>2012-08-20 14:19:12</td>
      <td>0.918</td>
      <td>24.523523</td>
      <td>83.553398</td>
      <td>1.120743</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>76282</th>
      <td>test2</td>
      <td>2012-08-20 14:19:12</td>
      <td>0.862</td>
      <td>24.536730</td>
      <td>84.045700</td>
      <td>1.082394</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>76290</th>
      <td>test2</td>
      <td>2012-08-20 14:19:12</td>
      <td>0.907</td>
      <td>24.572889</td>
      <td>84.299194</td>
      <td>1.176284</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>76291</th>
      <td>test2</td>
      <td>2012-08-20 14:19:12</td>
      <td>0.898</td>
      <td>24.505131</td>
      <td>84.419800</td>
      <td>1.196120</td>
      <td>真龙（软娇子）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1633606</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.876</td>
      <td>24.462978</td>
      <td>83.906792</td>
      <td>1.074542</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633607</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.929</td>
      <td>24.549232</td>
      <td>84.321487</td>
      <td>1.183894</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633608</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.912</td>
      <td>24.514418</td>
      <td>83.770294</td>
      <td>1.152275</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633609</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.892</td>
      <td>24.484621</td>
      <td>83.791595</td>
      <td>1.161497</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633610</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.904</td>
      <td>24.461882</td>
      <td>83.919792</td>
      <td>1.121972</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633600</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.900</td>
      <td>24.502968</td>
      <td>84.172890</td>
      <td>1.173355</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633602</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.896</td>
      <td>24.525394</td>
      <td>83.889290</td>
      <td>1.102210</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633599</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.878</td>
      <td>24.506889</td>
      <td>83.989594</td>
      <td>1.141735</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633598</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.873</td>
      <td>24.396641</td>
      <td>84.098190</td>
      <td>1.141735</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633597</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.891</td>
      <td>24.490423</td>
      <td>83.934090</td>
      <td>1.098257</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633603</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.914</td>
      <td>24.503283</td>
      <td>84.027786</td>
      <td>1.127242</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633601</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.885</td>
      <td>24.468311</td>
      <td>84.180588</td>
      <td>1.181259</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633596</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.924</td>
      <td>24.486975</td>
      <td>84.011391</td>
      <td>1.139100</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633594</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.939</td>
      <td>24.572443</td>
      <td>83.836594</td>
      <td>1.194434</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633604</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.890</td>
      <td>24.515043</td>
      <td>84.001190</td>
      <td>1.123290</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633581</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.898</td>
      <td>24.490736</td>
      <td>83.856995</td>
      <td>1.166767</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633582</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.880</td>
      <td>24.446669</td>
      <td>83.986992</td>
      <td>1.023160</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633583</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.876</td>
      <td>24.433182</td>
      <td>84.072388</td>
      <td>1.046875</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633584</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.957</td>
      <td>24.563662</td>
      <td>84.427788</td>
      <td>1.211562</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633585</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.874</td>
      <td>24.490267</td>
      <td>83.933487</td>
      <td>1.098257</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633595</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.927</td>
      <td>24.468624</td>
      <td>84.077888</td>
      <td>1.148322</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633586</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.912</td>
      <td>24.450117</td>
      <td>83.802994</td>
      <td>1.160180</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633588</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.935</td>
      <td>24.566328</td>
      <td>84.150490</td>
      <td>1.145687</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633589</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.899</td>
      <td>24.482582</td>
      <td>84.019089</td>
      <td>1.106162</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633590</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.893</td>
      <td>24.565073</td>
      <td>83.892487</td>
      <td>1.136465</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633591</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.938</td>
      <td>24.485876</td>
      <td>84.092194</td>
      <td>1.233959</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633592</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.906</td>
      <td>24.423773</td>
      <td>84.057091</td>
      <td>1.064002</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633593</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.903</td>
      <td>24.494814</td>
      <td>84.122292</td>
      <td>1.104845</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633587</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.894</td>
      <td>24.528532</td>
      <td>84.108490</td>
      <td>1.153592</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1633605</th>
      <td>test3</td>
      <td>2017-6-9 12:27:09</td>
      <td>0.898</td>
      <td>24.481483</td>
      <td>84.055992</td>
      <td>1.132512</td>
      <td>真龙（珍品）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
  </tbody>
</table>
<p>150079 rows × 9 columns</p>
</div>

设备114生产的所有品牌：

In [41]:
tb46_dt.groupby('SAMPLE_NAME').size().sort_values(ascending=False)

SAMPLE_NAME
利群（新版）         89722
真龙（娇子）1502     20844
真龙（珍品）         13116
真龙（娇子）1501      8970
雄狮（硬）           8120
利群(新版)          2544
真龙（天翔）1501      2178
利群[新版]          1311
真龙（天翔）           674
真龙（娇子)           510
雄狮(硬）            452
真龙(珍品)           381
真龙（娇子)1502       334
真龙（软娇子）          314
真龙（娇子）C          260
真龙(娇子)            90
雄狮[硬]             80
真龙珍品1501          64
真龙（娇子)重量          59
真龙(软娇子)1601       30
利群(无硬度)           20
大红鹰（软蓝）            4
大红鷹(软蓝)无硬度         2
dtype: int64

选取利群（新版）系列品牌的质量数据进行分析：

In [42]:
tb46_dt_lq = tb46_dt.query("SAMPLE_NAME == ['利群（新版）']")
tb46_dt_lq

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MACH_ID</th>
      <th>TEST_ID</th>
      <th>WEIGHT_VALUE</th>
      <th>CIRCLE_VALUE</th>
      <th>LENGTH_VALUE</th>
      <th>PD_VALUE</th>
      <th>SAMPLE_NAME</th>
      <th>LINE_NAME</th>
      <th>PM_MP_MACHINE_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>24714</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.846</td>
      <td>24.426519</td>
      <td>84.168190</td>
      <td>0.991429</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>24715</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.903</td>
      <td>24.501156</td>
      <td>83.883492</td>
      <td>1.048719</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>38259</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.902</td>
      <td>24.521896</td>
      <td>84.203590</td>
      <td>0.998091</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>24724</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.870</td>
      <td>24.499586</td>
      <td>84.117493</td>
      <td>1.030067</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>24719</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.873</td>
      <td>24.409391</td>
      <td>83.823288</td>
      <td>1.003420</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>24720</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.915</td>
      <td>24.565422</td>
      <td>84.044495</td>
      <td>1.051384</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>24721</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.878</td>
      <td>24.469730</td>
      <td>84.014793</td>
      <td>0.982103</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>24722</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.906</td>
      <td>24.581762</td>
      <td>84.005791</td>
      <td>1.004753</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>24723</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.873</td>
      <td>24.364294</td>
      <td>84.148087</td>
      <td>0.984768</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>24725</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.885</td>
      <td>24.541540</td>
      <td>83.939690</td>
      <td>1.044722</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>24726</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.891</td>
      <td>24.546253</td>
      <td>84.009789</td>
      <td>1.019408</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>24718</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.852</td>
      <td>24.440975</td>
      <td>84.165489</td>
      <td>0.992762</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>38260</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.852</td>
      <td>24.440975</td>
      <td>84.165489</td>
      <td>0.992762</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>24713</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.937</td>
      <td>24.522053</td>
      <td>84.130592</td>
      <td>1.125994</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>38262</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.915</td>
      <td>24.565422</td>
      <td>84.044495</td>
      <td>1.051384</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>12075</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.907</td>
      <td>24.438145</td>
      <td>84.104889</td>
      <td>1.067372</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>12074</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.901</td>
      <td>24.540438</td>
      <td>83.923691</td>
      <td>1.067372</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>12073</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.889</td>
      <td>24.520483</td>
      <td>83.964989</td>
      <td>1.007417</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>25660</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.876</td>
      <td>24.551596</td>
      <td>84.051590</td>
      <td>0.998091</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>20478</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.906</td>
      <td>24.581762</td>
      <td>84.005791</td>
      <td>1.004753</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>20479</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.873</td>
      <td>24.364294</td>
      <td>84.148087</td>
      <td>0.984768</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>20480</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.870</td>
      <td>24.499586</td>
      <td>84.117493</td>
      <td>1.030067</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>12076</th>
      <td>test2</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.929</td>
      <td>24.542009</td>
      <td>84.020691</td>
      <td>1.010082</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>20481</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.885</td>
      <td>24.541540</td>
      <td>83.939690</td>
      <td>1.044722</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>20483</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.876</td>
      <td>24.551596</td>
      <td>84.051590</td>
      <td>0.998091</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>20484</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.929</td>
      <td>24.542009</td>
      <td>84.020691</td>
      <td>1.010082</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>38254</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.919</td>
      <td>24.528496</td>
      <td>83.958588</td>
      <td>1.042058</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>38255</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.937</td>
      <td>24.522053</td>
      <td>84.130592</td>
      <td>1.125994</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>38256</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.846</td>
      <td>24.426519</td>
      <td>84.168190</td>
      <td>0.991429</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>38257</th>
      <td>test5</td>
      <td>2015-09-24 03:14:52</td>
      <td>0.903</td>
      <td>24.501156</td>
      <td>83.883492</td>
      <td>1.048719</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1413201</th>
      <td>test4</td>
      <td>2016-8-9 9:15:56</td>
      <td>0.914</td>
      <td>24.454054</td>
      <td>84.522202</td>
      <td>1.064466</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1413204</th>
      <td>test4</td>
      <td>2016-8-9 9:15:56</td>
      <td>0.899</td>
      <td>24.388533</td>
      <td>83.915802</td>
      <td>1.084100</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1413205</th>
      <td>test4</td>
      <td>2016-8-9 9:15:56</td>
      <td>0.874</td>
      <td>24.386490</td>
      <td>83.876999</td>
      <td>1.090645</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1413203</th>
      <td>test4</td>
      <td>2016-8-9 9:15:56</td>
      <td>0.910</td>
      <td>24.465366</td>
      <td>83.914200</td>
      <td>1.098499</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1413202</th>
      <td>test4</td>
      <td>2016-8-9 9:15:56</td>
      <td>0.904</td>
      <td>24.521458</td>
      <td>83.951897</td>
      <td>1.065774</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1413200</th>
      <td>test4</td>
      <td>2016-8-9 9:15:56</td>
      <td>0.926</td>
      <td>24.564196</td>
      <td>83.812599</td>
      <td>1.157403</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1413199</th>
      <td>test4</td>
      <td>2016-8-9 9:15:56</td>
      <td>0.918</td>
      <td>24.505117</td>
      <td>83.675095</td>
      <td>1.129914</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1413206</th>
      <td>test4</td>
      <td>2016-8-9 9:15:56</td>
      <td>0.908</td>
      <td>24.326939</td>
      <td>83.953697</td>
      <td>1.101117</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1413207</th>
      <td>test4</td>
      <td>2016-8-9 9:15:56</td>
      <td>0.898</td>
      <td>24.463478</td>
      <td>84.035698</td>
      <td>1.127296</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1413198</th>
      <td>test4</td>
      <td>2016-8-9 9:15:56</td>
      <td>0.908</td>
      <td>24.450911</td>
      <td>84.123199</td>
      <td>1.131223</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431831</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.934</td>
      <td>24.359150</td>
      <td>83.819801</td>
      <td>1.207144</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1316327</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.916</td>
      <td>24.535599</td>
      <td>83.864998</td>
      <td>1.110280</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1316328</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.904</td>
      <td>24.479191</td>
      <td>83.927200</td>
      <td>1.143004</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1316329</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.875</td>
      <td>24.411160</td>
      <td>83.720100</td>
      <td>1.057921</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1316330</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.900</td>
      <td>24.435198</td>
      <td>84.139999</td>
      <td>1.129914</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1316331</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.909</td>
      <td>24.429699</td>
      <td>83.881500</td>
      <td>1.148240</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431829</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.879</td>
      <td>24.497732</td>
      <td>83.979095</td>
      <td>1.101117</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431830</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.884</td>
      <td>24.333382</td>
      <td>83.812401</td>
      <td>1.072319</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431826</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.887</td>
      <td>24.443054</td>
      <td>84.241096</td>
      <td>1.135150</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431833</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.946</td>
      <td>24.539370</td>
      <td>83.922699</td>
      <td>1.190127</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431832</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.904</td>
      <td>24.399059</td>
      <td>84.213394</td>
      <td>1.141695</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431827</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.911</td>
      <td>24.497103</td>
      <td>83.969894</td>
      <td>1.114207</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431828</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.912</td>
      <td>24.418699</td>
      <td>84.266197</td>
      <td>1.179655</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431838</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.922</td>
      <td>24.495846</td>
      <td>83.929901</td>
      <td>1.080173</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431837</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.885</td>
      <td>24.421528</td>
      <td>83.907700</td>
      <td>1.114207</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431824</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.893</td>
      <td>24.490191</td>
      <td>84.093102</td>
      <td>1.099808</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431835</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.889</td>
      <td>24.456568</td>
      <td>83.837296</td>
      <td>1.158712</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431834</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.906</td>
      <td>24.449339</td>
      <td>84.064102</td>
      <td>1.123369</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431825</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.925</td>
      <td>24.496004</td>
      <td>84.008301</td>
      <td>1.148240</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>1431836</th>
      <td>test4</td>
      <td>2016-8-9 9:28:22</td>
      <td>0.907</td>
      <td>24.469135</td>
      <td>83.860703</td>
      <td>1.040904</td>
      <td>利群（新版）</td>
      <td>14</td>
      <td>114.0</td>
    </tr>
  </tbody>
</table>
<p>89722 rows × 9 columns</p>
</div>

对设备114生产的利群（新版）系列品牌的质量数据进行分组平均：

In [43]:
tb46_dt_mean = tb46_dt_lq.groupby('TEST_ID').mean()

# 基于3sigma的异常数据预警
n = 3
li = ['WEIGHT_VALUE', 'CIRCLE_VALUE', 'LENGTH_VALUE', 'PD_VALUE']
data_dict = dict()
for i in li:
    mean = np.mean(tb46_dt_mean[i])
    std = np.std(tb46_dt_mean[i])
    threshold1 = mean - n * std
    threshold2 = mean + n * std
    data_dict[i] = [threshold1, threshold2]

tb46_dt_mean = tb46_dt_mean[(tb46_dt_mean['WEIGHT_VALUE'] >= data_dict['WEIGHT_VALUE'][0]) & (tb46_dt_mean['WEIGHT_VALUE'] <= data_dict['WEIGHT_VALUE'][1]) &
                            (tb46_dt_mean['CIRCLE_VALUE'] >= data_dict['CIRCLE_VALUE'][0]) & (tb46_dt_mean['CIRCLE_VALUE'] <= data_dict['CIRCLE_VALUE'][1]) &
                            (tb46_dt_mean['LENGTH_VALUE'] >= data_dict['LENGTH_VALUE'][0]) & (tb46_dt_mean['LENGTH_VALUE'] <= data_dict['LENGTH_VALUE'][1]) &
                            (tb46_dt_mean['PD_VALUE'] >= data_dict['PD_VALUE'][0]) & (tb46_dt_mean['PD_VALUE'] <= data_dict['PD_VALUE'][1])]

tb46_dt_mean

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WEIGHT_VALUE</th>
      <th>CIRCLE_VALUE</th>
      <th>LENGTH_VALUE</th>
      <th>PD_VALUE</th>
      <th>PM_MP_MACHINE_ID</th>
    </tr>
    <tr>
      <th>TEST_ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2015-09-24 03:14:52</th>
      <td>0.894950</td>
      <td>24.504118</td>
      <td>84.029645</td>
      <td>1.025204</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 04:13:58</th>
      <td>0.899000</td>
      <td>24.472032</td>
      <td>84.021701</td>
      <td>1.056247</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 05:38:34</th>
      <td>0.893050</td>
      <td>24.473815</td>
      <td>84.055862</td>
      <td>1.039793</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 05:46:02</th>
      <td>0.901750</td>
      <td>24.504479</td>
      <td>84.115098</td>
      <td>1.064507</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 06:19:26</th>
      <td>0.896100</td>
      <td>24.533627</td>
      <td>84.025187</td>
      <td>1.038061</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 06:56:54</th>
      <td>0.895650</td>
      <td>24.499144</td>
      <td>84.160656</td>
      <td>1.055381</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 08:21:59</th>
      <td>0.916550</td>
      <td>24.475002</td>
      <td>84.162721</td>
      <td>1.106609</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 09:15:44</th>
      <td>0.879750</td>
      <td>24.411591</td>
      <td>84.024927</td>
      <td>1.072290</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 09:42:50</th>
      <td>0.900850</td>
      <td>24.500551</td>
      <td>84.014916</td>
      <td>1.072022</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 10:20:43</th>
      <td>0.903750</td>
      <td>24.400922</td>
      <td>84.144661</td>
      <td>1.114984</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 10:41:10</th>
      <td>0.897550</td>
      <td>24.513569</td>
      <td>84.083286</td>
      <td>1.095413</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 11:08:45</th>
      <td>0.905700</td>
      <td>24.501187</td>
      <td>84.027037</td>
      <td>1.067599</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 11:45:22</th>
      <td>0.910100</td>
      <td>24.497180</td>
      <td>84.099767</td>
      <td>1.091861</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 12:22:24</th>
      <td>0.904850</td>
      <td>24.486236</td>
      <td>84.114862</td>
      <td>1.107880</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 12:49:41</th>
      <td>0.901050</td>
      <td>24.477955</td>
      <td>84.092561</td>
      <td>1.066660</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 13:40:25</th>
      <td>0.912650</td>
      <td>24.502177</td>
      <td>84.049981</td>
      <td>1.110963</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 14:17:34</th>
      <td>0.901150</td>
      <td>24.448203</td>
      <td>84.127552</td>
      <td>1.084422</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 15:14:25</th>
      <td>0.898050</td>
      <td>24.555311</td>
      <td>84.031781</td>
      <td>1.048631</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 16:21:49</th>
      <td>0.906579</td>
      <td>24.530828</td>
      <td>84.206612</td>
      <td>1.059725</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 17:59:29</th>
      <td>0.890400</td>
      <td>24.487053</td>
      <td>84.030686</td>
      <td>1.078658</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 18:14:48</th>
      <td>0.898100</td>
      <td>24.445437</td>
      <td>84.089977</td>
      <td>1.101579</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 19:02:54</th>
      <td>0.893400</td>
      <td>24.545184</td>
      <td>84.079136</td>
      <td>1.045950</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 19:35:51</th>
      <td>0.891700</td>
      <td>24.475222</td>
      <td>84.069532</td>
      <td>1.054596</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 20:26:16</th>
      <td>0.893900</td>
      <td>24.533823</td>
      <td>84.009171</td>
      <td>1.041326</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 20:51:48</th>
      <td>0.905350</td>
      <td>24.480014</td>
      <td>84.234371</td>
      <td>1.063242</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 21:09:35</th>
      <td>0.903300</td>
      <td>24.478144</td>
      <td>83.995966</td>
      <td>1.081271</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 21:55:36</th>
      <td>0.909100</td>
      <td>24.435373</td>
      <td>84.271277</td>
      <td>1.083952</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 22:18:55</th>
      <td>0.903950</td>
      <td>24.490432</td>
      <td>84.078261</td>
      <td>1.080266</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 22:46:57</th>
      <td>0.899400</td>
      <td>24.505194</td>
      <td>84.265706</td>
      <td>1.067532</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2015-09-24 23:04:21</th>
      <td>0.902750</td>
      <td>24.478710</td>
      <td>84.133721</td>
      <td>1.078322</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2016-8-8 23:01:07</th>
      <td>0.897350</td>
      <td>24.535843</td>
      <td>83.927745</td>
      <td>1.093287</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-8 8:46:17</th>
      <td>0.898067</td>
      <td>24.502320</td>
      <td>84.071125</td>
      <td>1.064541</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-8 9:18:53</th>
      <td>0.892350</td>
      <td>24.541067</td>
      <td>84.006219</td>
      <td>1.052852</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 0:09:37</th>
      <td>0.901950</td>
      <td>24.487236</td>
      <td>84.189960</td>
      <td>1.079171</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 10:39:17</th>
      <td>0.897350</td>
      <td>24.508087</td>
      <td>83.985263</td>
      <td>1.059819</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 11:54:21</th>
      <td>0.908000</td>
      <td>24.518143</td>
      <td>84.006848</td>
      <td>1.094834</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 13:18:13</th>
      <td>0.900500</td>
      <td>24.433956</td>
      <td>83.904674</td>
      <td>1.091496</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 13:49:07</th>
      <td>0.896350</td>
      <td>24.480637</td>
      <td>83.922415</td>
      <td>1.075395</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 15:20:03</th>
      <td>0.891700</td>
      <td>24.451617</td>
      <td>83.867191</td>
      <td>1.074922</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 16:22:01</th>
      <td>0.898150</td>
      <td>24.548394</td>
      <td>83.844612</td>
      <td>1.038088</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 17:22:35</th>
      <td>0.895222</td>
      <td>24.493159</td>
      <td>83.917852</td>
      <td>1.057478</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 18:33:28</th>
      <td>0.893200</td>
      <td>24.469073</td>
      <td>83.840337</td>
      <td>1.053639</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 19:11:22</th>
      <td>0.892550</td>
      <td>24.477573</td>
      <td>83.813703</td>
      <td>1.049930</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 1:01:21</th>
      <td>0.897400</td>
      <td>24.471689</td>
      <td>83.973414</td>
      <td>1.085146</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 1:07:41</th>
      <td>0.899550</td>
      <td>24.480723</td>
      <td>83.983356</td>
      <td>1.062683</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 20:33:23</th>
      <td>0.916500</td>
      <td>24.511863</td>
      <td>84.091374</td>
      <td>1.101901</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 20:44:21</th>
      <td>0.895250</td>
      <td>24.500017</td>
      <td>83.978012</td>
      <td>1.052988</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 21:10:55</th>
      <td>0.890700</td>
      <td>24.517787</td>
      <td>84.000842</td>
      <td>1.050906</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 22:37:30</th>
      <td>0.903250</td>
      <td>24.486285</td>
      <td>83.905257</td>
      <td>1.079276</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 23:25:47</th>
      <td>0.894950</td>
      <td>24.467533</td>
      <td>84.037912</td>
      <td>1.055331</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 2:12:18</th>
      <td>0.898950</td>
      <td>24.507121</td>
      <td>83.964444</td>
      <td>1.085149</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 3:09:24</th>
      <td>0.892400</td>
      <td>24.487511</td>
      <td>83.975914</td>
      <td>1.056834</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 4:07:59</th>
      <td>0.898000</td>
      <td>24.498565</td>
      <td>83.935594</td>
      <td>1.075884</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 5:24:53</th>
      <td>0.894350</td>
      <td>24.455238</td>
      <td>84.002909</td>
      <td>1.056638</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 5:47:10</th>
      <td>0.894571</td>
      <td>24.493266</td>
      <td>84.139470</td>
      <td>1.067996</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 6:09:00</th>
      <td>0.894450</td>
      <td>24.468217</td>
      <td>84.031014</td>
      <td>1.079538</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 8:07:25</th>
      <td>0.920053</td>
      <td>24.425721</td>
      <td>84.115742</td>
      <td>1.128625</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 8:56:01</th>
      <td>0.908600</td>
      <td>24.479310</td>
      <td>83.908389</td>
      <td>1.084689</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 9:15:56</th>
      <td>0.907850</td>
      <td>24.439204</td>
      <td>83.958694</td>
      <td>1.105895</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>2016-8-9 9:28:22</th>
      <td>0.904400</td>
      <td>24.452850</td>
      <td>83.972974</td>
      <td>1.124809</td>
      <td>114.0</td>
    </tr>
  </tbody>
</table>
<p>4312 rows × 5 columns</p>
</div>

In [44]:
# to_csv = tb46_dt_mean.reset_index().rename(columns={'TEST_ID': '检测ID', 'WEIGHT_VALUE': '重量', 'CIRCLE_VALUE': '圆周长', 'LENGTH_VALUE': '长度', 'PD_VALUE': '硬度', 'PM_MP_MACHINE_ID': '设备ID'}).set_index('检测ID')
# to_csv.to_csv('m114_m.csv')

In [45]:
tb46_dt_mean.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WEIGHT_VALUE</th>
      <th>CIRCLE_VALUE</th>
      <th>LENGTH_VALUE</th>
      <th>PD_VALUE</th>
      <th>PM_MP_MACHINE_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>4312.000000</td>
      <td>4312.000000</td>
      <td>4312.000000</td>
      <td>4312.000000</td>
      <td>4312.0</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.896718</td>
      <td>24.494723</td>
      <td>84.016115</td>
      <td>1.076385</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.006976</td>
      <td>0.040864</td>
      <td>0.110311</td>
      <td>0.022704</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.873500</td>
      <td>24.316615</td>
      <td>83.401024</td>
      <td>1.003444</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.892450</td>
      <td>24.471049</td>
      <td>83.941574</td>
      <td>1.061384</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.896450</td>
      <td>24.494781</td>
      <td>84.006201</td>
      <td>1.075516</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.900600</td>
      <td>24.517272</td>
      <td>84.078016</td>
      <td>1.091319</td>
      <td>114.0</td>
    </tr>
    <tr>
      <th>max</th>
      <td>0.920300</td>
      <td>25.343259</td>
      <td>84.837001</td>
      <td>1.150959</td>
      <td>114.0</td>
    </tr>
  </tbody>
</table>
</div>

### 绘制散点图

In [46]:
#选择需要绘制散点图的列名
cols = ['CIRCLE_VALUE', 'LENGTH_VALUE', 'PD_VALUE', 'WEIGHT_VALUE']
#通过seaborn绘制散点图
sns.pairplot(tb46_dt_mean[cols], size=3)
plt.show()

/Users/jing/.virtualenvs/pydata/lib/python3.6/site-packages/seaborn/axisgrid.py:2065: UserWarning: The `size` parameter has been renamed to `height`; pleaes update your code.
  warnings.warn(msg, UserWarning)

### 系数矩阵

In [47]:
#获取相关系数矩阵  
cm = np.corrcoef(tb46_dt_mean[cols].values.T)  
#设置字的比例  
sns.set(font_scale=1)  
#绘制相关系数图  
hm = sns.heatmap(cm,cbar=True,annot=True,square=True,fmt=".2f",  
                 annot_kws={"size":15},yticklabels=cols,xticklabels=cols)  
plt.show()

### 判断数据集是否属于正态分布

In [48]:
from scipy import stats

x = tb46_dt_mean['WEIGHT_VALUE']
k2, p = stats.normaltest(x)
alpha = 1e-3
print("p = {:g}".format(p))
if p < alpha:  # 零假设: x来自正态分布
    print("零假设能被拒绝")
else:
    print("零假设不能被拒绝")

p = 5.14485e-16
零假设能被拒绝

In [49]:
stats.kstest(x, cdf='norm')

KstestResult(statistic=0.8088046964595988, pvalue=0.0)

设备114生产的利群（新版）系列品牌的重量值（平均处理）正态性检验：

In [50]:
from statsmodels.api import qqplot
fig = plt.figure(figsize=(12,8))
ax = fig.add_subplot(111)
fig = qqplot(tb46_dt_mean['WEIGHT_VALUE'], line='q', ax=ax, fit=True)

/Users/jing/.virtualenvs/pydata/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [51]:
from scipy.stats import probplot
f = plt.figure(figsize=(12, 8))
ax = f.add_subplot(111)
probplot(tb46_dt_mean['WEIGHT_VALUE'], plot=ax, rvalue=True);

### 基于3sigma的异常数据预警代码

In [52]:
# %%time

# n = 3
# data_x = tb46_dt_mean[['WEIGHT_VALUE']].index
# data_y = tb46_dt_mean['WEIGHT_VALUE']
# ymean = np.mean(data_y)
# ystd = np.std(data_y)
# threshold1 = ymean - n * ystd
# threshold2 = ymean + n * ystd

# outlier = [] #将异常值保存
# outlier_x = []

# for i in range(0, len(data_y)):
#     if (data_y[i] < threshold1)|(data_y[i] > threshold2):
#         outlier.append(data_y[i])
#         outlier_x.append(data_x[i])
#     else:
#         continue

# outlier = np.round(outlier, 3)

# # print('\n异常数据如下：\n')
# # print(outlier)
# # print(outlier_x)

# plt.figure(figsize=(16, 10))
# plt.plot(data_x, data_y)
# plt.plot(outlier_x, outlier, 'ro')
# for j in range(len(outlier)):
#     plt.annotate(outlier[j], xy=(outlier_x[j], outlier[j]), xytext=(outlier_x[j],outlier[j]))
# plt.show()

### 基于箱型图的异常数据预警代码

In [53]:
# %%time

# data_y = tb46_dt_mean['WEIGHT_VALUE']
# data_x = tb46_dt_mean[['WEIGHT_VALUE']].index

# statistics = data_y.describe() #保存基本统计量
# IQR = statistics.loc['75%']-statistics.loc['25%']   #四分位数间距
# QL = statistics.loc['25%']  #下四分位数
# QU = statistics.loc['75%']  #上四分位数
# threshold1 = QL - 1.5 * IQR #下阈值
# threshold2 = QU + 1.5 * IQR #上阈值
# outlier = [] #将异常值保存
# outlier_x = []

# for i in range(0, len(data_y)):
#     if (data_y[i] < threshold1)|(data_y[i] > threshold2):
#         outlier.append(data_y[i])
#         outlier_x.append(data_x[i])
#     else:
#         continue

# outlier = np.round(outlier, 3)

# # print('\n异常数据如下：\n')
# # print(outlier)
# # print(outlier_x)

# plt.figure(figsize=(16, 10))
# plt.plot(data_x, data_y)
# plt.plot(outlier_x, outlier, 'ro')
# for j in range(len(outlier)):
#     plt.annotate(outlier[j], xy=(outlier_x[j], outlier[j]), xytext=(outlier_x[j],outlier[j]))
# plt.show()

### 单台设备质量数据回归分析

### 数据预处理

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

X = tb46_dt_mean[['CIRCLE_VALUE', 'LENGTH_VALUE', 'PD_VALUE']]
y = tb46_dt_mean['WEIGHT_VALUE']
y = np.array(y)

# 对数变换
x_log = np.log(X)
x_log10 = np.log10(X)
# 平方根变换
y_sqrt = np.sqrt(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=666)

scaler1 = MinMaxScaler()

X_scaler1 = scaler1.fit_transform(X)
y_scaler1 = scaler1.fit_transform(y.reshape(-1, 1))

scaler2 = StandardScaler()

X_scaler2 = scaler2.fit_transform(X)
y_scaler2 = scaler2.fit_transform(y.reshape(-1, 1))

Xtrain, Xtest, ytrain, ytest = train_test_split(X_scaler2, y_scaler2, test_size=0.2, random_state=666)

### 数据统计分析

In [55]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from scipy import stats

# diabetes = datasets.load_diabetes()
# x = diabetes.data
# y = diabetes.target

x = sm.add_constant(X)
est = sm.OLS(y, x)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.309
Model:                            OLS   Adj. R-squared:                  0.309
Method:                 Least Squares   F-statistic:                     643.5
Date:                Thu, 26 Jul 2018   Prob (F-statistic):               0.00
Time:                        17:03:29   Log-Likelihood:                 16091.
No. Observations:                4312   AIC:                        -3.217e+04
Df Residuals:                    4308   BIC:                        -3.215e+04
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -0.7981      0.088     -9.111      0.000      -0.970      -0.626
CIRCLE_VALUE     0.0251      0.002     11.490      0.000       0.021       0.029
LENGTH_VALUE     0.0108      0.001     13.428      0.000       0.009       0.012
PD_VALUE         0.1644      0.004     41.861      0.000       0.157       0.172
==============================================================================
Omnibus:                       52.675   Durbin-Watson:                   1.485
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               87.827
Skew:                           0.072   Prob(JB):                     8.48e-20
Kurtosis:                       3.684   Cond. No.                     8.68e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.68e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [56]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost.sklearn import XGBRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import explained_variance_score, mean_absolute_error, mean_squared_error, r2_score

# 训练回归模型
n_folds = 6 # 交叉检验次数
lr = LinearRegression() # 线性回归
svr = SVR(C=100, epsilon=0.1, gamma=0.1) # 支持向量机回归
rf = RandomForestRegressor(n_estimators=200,
                           max_depth=10,
                           min_samples_split=2,
                           min_samples_leaf=1,
                           max_features=3,
                           random_state=10) # 随机森林回归
gbr = GradientBoostingRegressor(learning_rate=0.1,
                                n_estimators=200,
                                max_depth=3,
                                min_samples_leaf=1,
                                min_samples_split=2,
                                max_features=3,
                                subsample=1) # GBDT回归
xgb = XGBRegressor(gamma=0, 
                   reg_lambda=0.08, 
                   silent=False, 
                   subsample=0.5, 
                   max_depth=3, 
                   colsample_bytree=0.8, 
                   min_child_weight=1, 
                   learning_rate=0.2) # xgboost回归
mnames = ['LinearRegression', 'SVR', 'RandomForestRegressor', 'GradientBoostingRegressor', 'xgboost'] # 回归模型名称列表
mlist = [lr, svr, rf, gbr, xgb] # 回归模型对象列表
cv_scores = [] # 交叉检验结果列表
y_pred = [] # 回归模型预测y值列表

for model in mlist:
    scores = cross_val_score(model, Xtrain, ytrain.ravel(), cv=n_folds) # 将每个回归模型导入交叉检验
    predicted = model.fit(Xtrain, ytrain.ravel()).predict(Xtest) # 回归训练得到预测y值
    cv_scores.append(scores) # 将交叉验证结果存入列表
    y_pred.append(predicted) # 将回归训练中得到的预测y值存入列表

# 模型效果评估
n_samples, n_features = Xtrain.shape # 总样本数，总特征数
metrics_name = [explained_variance_score, mean_absolute_error, mean_squared_error, r2_score] # 回归评估指标对象集
metrics_list = [] # 回归评估指标列表

for i in range(len(mlist)):
    tmp = [] # 每个内循环的临时结果列表
    for m in metrics_name:
        score = m(ytest, y_pred[i]) # 计算每个回归指标结果
        tmp.append(score)
    metrics_list.append(tmp)

df_cv = pd.DataFrame(cv_scores, index=mnames) # 交叉验证数据框
df_metrics = pd.DataFrame(metrics_list, index=mnames, columns=['ev', 'mae', 'mse', 'r2']) # 回归指标数据框

In [57]:
df_cv

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>LinearRegression</th>
      <td>0.356878</td>
      <td>0.319501</td>
      <td>0.248381</td>
      <td>0.322174</td>
      <td>0.276531</td>
      <td>0.309904</td>
    </tr>
    <tr>
      <th>SVR</th>
      <td>0.352772</td>
      <td>0.290467</td>
      <td>0.286100</td>
      <td>0.316530</td>
      <td>0.250662</td>
      <td>0.280743</td>
    </tr>
    <tr>
      <th>RandomForestRegressor</th>
      <td>0.332209</td>
      <td>0.289819</td>
      <td>0.227570</td>
      <td>0.289059</td>
      <td>0.254116</td>
      <td>0.256318</td>
    </tr>
    <tr>
      <th>GradientBoostingRegressor</th>
      <td>0.354550</td>
      <td>0.300337</td>
      <td>0.258702</td>
      <td>0.294336</td>
      <td>0.271489</td>
      <td>0.261968</td>
    </tr>
    <tr>
      <th>xgboost</th>
      <td>0.332775</td>
      <td>0.277331</td>
      <td>0.254350</td>
      <td>0.290703</td>
      <td>0.246761</td>
      <td>0.213856</td>
    </tr>
  </tbody>
</table>
</div>

In [58]:
df_metrics

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ev</th>
      <th>mae</th>
      <th>mse</th>
      <th>r2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>LinearRegression</th>
      <td>0.308175</td>
      <td>0.653766</td>
      <td>0.694672</td>
      <td>0.307856</td>
    </tr>
    <tr>
      <th>SVR</th>
      <td>0.270428</td>
      <td>0.666046</td>
      <td>0.732249</td>
      <td>0.270416</td>
    </tr>
    <tr>
      <th>RandomForestRegressor</th>
      <td>0.270737</td>
      <td>0.666657</td>
      <td>0.731929</td>
      <td>0.270735</td>
    </tr>
    <tr>
      <th>GradientBoostingRegressor</th>
      <td>0.267438</td>
      <td>0.665606</td>
      <td>0.735251</td>
      <td>0.267425</td>
    </tr>
    <tr>
      <th>xgboost</th>
      <td>0.260278</td>
      <td>0.668560</td>
      <td>0.742438</td>
      <td>0.260264</td>
    </tr>
  </tbody>
</table>
</div>

In [59]:
# 模型效果可视化
plt.figure(figsize=(16, 10))  # 创建画布
plt.plot(np.arange(Xtest.shape[0]), ytest, color='k', label='true y')  # 画出原始值的曲线
color_list = ['r', 'b', 'g', 'y', 'c']  # 颜色列表
linestyle_list = ['-', '.', 'o', 'v', '*']  # 样式列表
for i, pre_y in enumerate(y_pred):  # 读出通过回归模型预测得到的索引及结果
    plt.plot(np.arange(Xtest.shape[0]), y_pred[i], color_list[i], label=mnames[i])  # 画出每条预测结果线
plt.title('regression result comparison')  # 标题
plt.legend(loc='upper right')  # 图例位置
plt.ylabel('real and predicted value')  # y轴标题
plt.show()  # 展示图像

模型残差的正态分布检验

In [60]:
from scipy import stats

x = predicted - ytest.ravel()
k2, p = stats.normaltest(x)
alpha = 1e-3
print("p = {:g}".format(p))
if p < alpha:  # 零假设: x来自正态分布
    print("零假设能被拒绝")
else:
    print("零假设不能被拒绝")

p = 0.00248439
零假设不能被拒绝

In [61]:
from statsmodels.api import qqplot
fig = plt.figure(figsize=(12,8))
ax = fig.add_subplot(111)
fig = qqplot(x, line='q', ax=ax, fit=True)

In [62]:
from scipy.stats import probplot
f = plt.figure(figsize=(12, 8))
ax = f.add_subplot(111)
probplot(x, plot=ax, rvalue=True);

## SPC控制图

In [63]:
spc = tb46_dt_lq.groupby('TEST_ID').head(5)[:125][['TEST_ID', 'WEIGHT_VALUE', 'CIRCLE_VALUE', 'LENGTH_VALUE', 'PD_VALUE']]
spc.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>TEST_ID</th>
      <th>WEIGHT_VALUE</th>
      <th>CIRCLE_VALUE</th>
      <th>LENGTH_VALUE</th>
      <th>PD_VALUE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>24714</th>
      <td>2015-09-24 03:14:52</td>
      <td>0.846</td>
      <td>24.426519</td>
      <td>84.168190</td>
      <td>0.991429</td>
    </tr>
    <tr>
      <th>24715</th>
      <td>2015-09-24 03:14:52</td>
      <td>0.903</td>
      <td>24.501156</td>
      <td>83.883492</td>
      <td>1.048719</td>
    </tr>
    <tr>
      <th>38259</th>
      <td>2015-09-24 03:14:52</td>
      <td>0.902</td>
      <td>24.521896</td>
      <td>84.203590</td>
      <td>0.998091</td>
    </tr>
    <tr>
      <th>24724</th>
      <td>2015-09-24 03:14:52</td>
      <td>0.870</td>
      <td>24.499586</td>
      <td>84.117493</td>
      <td>1.030067</td>
    </tr>
    <tr>
      <th>24719</th>
      <td>2015-09-24 03:14:52</td>
      <td>0.873</td>
      <td>24.409391</td>
      <td>83.823288</td>
      <td>1.003420</td>
    </tr>
  </tbody>
</table>
</div>

In [64]:
xbar = spc.groupby('TEST_ID').mean()
sbar = spc.groupby('TEST_ID').std()

a3 = 1.427
b3 = 0
b4 = 2.089

xcl = xbar.mean()
scl = sbar.mean()

xucl = xcl + a3*scl
xlcl = xcl - a3*scl

sucl = b4*scl
slcl = b3*scl

In [65]:
fig = plt.figure(figsize=(12, 8))

ax1 = fig.add_subplot(211)
ax2 = fig.add_subplot(212)

plt.suptitle('xbar-s') # 总标题

ax1.plot(range(0, 25), xbar['WEIGHT_VALUE'], 'o-')
ax1.plot(np.ones(25)*xcl['WEIGHT_VALUE'])
ax1.plot(np.ones(25)*xucl['WEIGHT_VALUE'])
ax1.plot(np.ones(25)*xlcl['WEIGHT_VALUE'])
ax1.set_title('xbar')
# ax1.legend(loc='best', bbox_to_anchor=(0.2, 1), ncol=3)

ax2.plot(range(0, 25), sbar['WEIGHT_VALUE'], 'o-')
ax2.plot(np.ones(25)*scl['WEIGHT_VALUE'])
ax2.plot(np.ones(25)*sucl['WEIGHT_VALUE'])
ax2.plot(np.ones(25)*slcl['WEIGHT_VALUE'])
ax2.set_title('s')
# ax2.legend(loc='best', bbox_to_anchor=(0.2, 1), ncol=3)

plt.show()

In [66]:
plt.figure(figsize=(16, 10))
plt.plot(range(1, 126), spc['WEIGHT_VALUE'].ewm(5).mean())
plt.plot(range(1, 126), spc['WEIGHT_VALUE'].rolling(5).mean())
plt.plot(np.ones(125)*0.8)
plt.plot(np.ones(125)*0.9)
plt.plot(np.ones(125)*1)
plt.show()

In [67]:
plt.figure(figsize=(12, 8))
plt.plot(range(0, 125), tb46_dt_mean['WEIGHT_VALUE'][:125])
plt.show()

## 表21  MT_DC_PM_MP_GD1057DATA_CUR  包装机剔除数据
## 表23  MT_DC_PM_MP_PT1057DATA_CUR  卷接机剔除数据

### 剔除代码对应表

In [68]:
rejectname = pd.read_csv('/Users/jing/pydata/datasets/plantiq/广西卷烟厂/MT_DC_PB_REJECTCODE.csv')[['PM_MP_REJECTCODE_ID', 'REJECTNAME']]
rejectname

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PM_MP_REJECTCODE_ID</th>
      <th>REJECTNAME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>9000007</td>
      <td>烟支模盒堵塞而剔除</td>
    </tr>
    <tr>
      <th>1</th>
      <td>9000008</td>
      <td>光电探测器电路板故障而剔除</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9000009</td>
      <td>烟支空头而剔除</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9000010</td>
      <td>光电探测器测出缺烟而剔除</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9000011</td>
      <td>手动剔除未对齐的铝箔纸数</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9000012</td>
      <td>剔除：鼓轮3第一前部商标纸耳</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9000013</td>
      <td>剔除：鼓轮3第二前部商标纸耳</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9000014</td>
      <td>剔除：鼓轮3第一后部商标纸耳</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9000016</td>
      <td>剔除：鼓轮3第二后部商标纸耳</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9000017</td>
      <td>包装时间过长而剔除</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9000018</td>
      <td>商标纸涂胶不全而剔除</td>
    </tr>
    <tr>
      <th>11</th>
      <td>9000019</td>
      <td>涂胶器啮合超出相位的剔除</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9000020</td>
      <td>剔除：鼓轮2上商标纸无或不齐</td>
    </tr>
    <tr>
      <th>13</th>
      <td>9000021</td>
      <td>5号轮前部缺商标纸的剔除</td>
    </tr>
    <tr>
      <th>14</th>
      <td>9000022</td>
      <td>5号轮缺商标纸而剔除</td>
    </tr>
    <tr>
      <th>15</th>
      <td>9000023</td>
      <td>5号轮缺铝箔纸而剔除</td>
    </tr>
    <tr>
      <th>16</th>
      <td>9000024</td>
      <td>5号轮缺内框纸产生的剔除</td>
    </tr>
    <tr>
      <th>17</th>
      <td>9000026</td>
      <td>包装轮排空后额外剔除的数量</td>
    </tr>
    <tr>
      <th>18</th>
      <td>9000030</td>
      <td>商标纸无印刷而剔除</td>
    </tr>
    <tr>
      <th>19</th>
      <td>9000031</td>
      <td>5号轮折叠器打开产生的剔除</td>
    </tr>
    <tr>
      <th>20</th>
      <td>9000032</td>
      <td>内框纸上存在胶带的剔除</td>
    </tr>
    <tr>
      <th>21</th>
      <td>9000033</td>
      <td>3号轮入口烟包堵塞而剔除</td>
    </tr>
    <tr>
      <th>22</th>
      <td>9000034</td>
      <td>3号轮半圆环堵塞而剔除</td>
    </tr>
    <tr>
      <th>23</th>
      <td>9000035</td>
      <td>3号轮缺拉片而剔除</td>
    </tr>
    <tr>
      <th>24</th>
      <td>9000036</td>
      <td>3号轮缺失内框纸而剔除</td>
    </tr>
    <tr>
      <th>25</th>
      <td>9000037</td>
      <td>无请求的3号轮烟包剔除</td>
    </tr>
    <tr>
      <th>26</th>
      <td>9000038</td>
      <td>鼓轮处缺内框纸时剔除的数量</td>
    </tr>
    <tr>
      <th>27</th>
      <td>9000039</td>
      <td>4号轮半圆环堵塞而剔除</td>
    </tr>
    <tr>
      <th>28</th>
      <td>9000040</td>
      <td>4号轮烟包不规则而剔除</td>
    </tr>
    <tr>
      <th>29</th>
      <td>9000041</td>
      <td>无请求的4号轮烟包剔除</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>591</th>
      <td>21630</td>
      <td>ＣＨ手动剔除</td>
    </tr>
    <tr>
      <th>592</th>
      <td>21631</td>
      <td>烟包堆叠缺包</td>
    </tr>
    <tr>
      <th>593</th>
      <td>21632</td>
      <td>展开平台上无条盒纸</td>
    </tr>
    <tr>
      <th>594</th>
      <td>21633</td>
      <td>ＣＴ条盒胶水</td>
    </tr>
    <tr>
      <th>595</th>
      <td>21634</td>
      <td>条盒缺包</td>
    </tr>
    <tr>
      <th>596</th>
      <td>21635</td>
      <td>包装线上无条盒纸</td>
    </tr>
    <tr>
      <th>597</th>
      <td>21636</td>
      <td>ＣＴ包装通道上条盒纸不对</td>
    </tr>
    <tr>
      <th>598</th>
      <td>21637</td>
      <td>剔除的合格烟包</td>
    </tr>
    <tr>
      <th>599</th>
      <td>21638</td>
      <td>剔除的坏包</td>
    </tr>
    <tr>
      <th>600</th>
      <td>21639</td>
      <td>生产数据关闭的机器周期</td>
    </tr>
    <tr>
      <th>601</th>
      <td>21640</td>
      <td>烟包实际产量</td>
    </tr>
    <tr>
      <th>602</th>
      <td>21641</td>
      <td>剔除产量</td>
    </tr>
    <tr>
      <th>603</th>
      <td>21642</td>
      <td>ＣＨ实际产量</td>
    </tr>
    <tr>
      <th>604</th>
      <td>21643</td>
      <td>机器空转周期</td>
    </tr>
    <tr>
      <th>605</th>
      <td>21644</td>
      <td>生产数据关闭的机器周期</td>
    </tr>
    <tr>
      <th>606</th>
      <td>21645</td>
      <td>烟包堆叠位置不正确</td>
    </tr>
    <tr>
      <th>607</th>
      <td>21646</td>
      <td>多余的烟包</td>
    </tr>
    <tr>
      <th>608</th>
      <td>21647</td>
      <td>ＣＨ透明纸自动更换接头</td>
    </tr>
    <tr>
      <th>609</th>
      <td>21648</td>
      <td>更换次数</td>
    </tr>
    <tr>
      <th>610</th>
      <td>21649</td>
      <td>ＣＨ透明纸拼</td>
    </tr>
    <tr>
      <th>611</th>
      <td>21650</td>
      <td>ＣＨ透明纸展开堵塞</td>
    </tr>
    <tr>
      <th>612</th>
      <td>21652</td>
      <td>ＣＨ拉带丢失或未对</td>
    </tr>
    <tr>
      <th>613</th>
      <td>21653</td>
      <td>ＣＨ透明纸错位</td>
    </tr>
    <tr>
      <th>614</th>
      <td>9000000</td>
      <td>推烟排脱离而剔除</td>
    </tr>
    <tr>
      <th>615</th>
      <td>9000001</td>
      <td>铝箔纸内侧拼接的剔除</td>
    </tr>
    <tr>
      <th>616</th>
      <td>9000002</td>
      <td>铝箔纸外侧拼接的剔除</td>
    </tr>
    <tr>
      <th>617</th>
      <td>9000003</td>
      <td>铝箔纸部件脱离而剔除</td>
    </tr>
    <tr>
      <th>618</th>
      <td>9000004</td>
      <td>1号轮铝箔纸不齐而剔除</td>
    </tr>
    <tr>
      <th>619</th>
      <td>9000005</td>
      <td>1号轮缺失铝箔纸的剔除</td>
    </tr>
    <tr>
      <th>620</th>
      <td>9000006</td>
      <td>模盒烟支堵塞而剔除</td>
    </tr>
  </tbody>
</table>
<p>621 rows × 2 columns</p>
</div>

### 包装机

In [69]:
# tb21 = pd.merge(tb_21, rejectname, how='left')[['PRODUCEDATE', 'PB_SHIFT_ID', 'PM_MP_MACHINE_ID', 'PB_PRODUCT_ID', 'GATHERDATETIME', 'PM_MP_REJECTCODE_ID', 'REJECTVALUE', 'REJECTNAME']]
# tb21

### 卷接机

In [70]:
tb23 = pd.merge(tb_23, rejectname, how='left')[['PRODUCEDATE', 'PB_SHIFT_ID', 'PM_MP_MACHINE_ID', 'PB_PRODUCT_ID', 'GATHERDATETIME', 'PM_MP_REJECTCODE_ID', 'REJECTVALUE', 'REJECTNAME']]
tb23

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PRODUCEDATE</th>
      <th>PB_SHIFT_ID</th>
      <th>PM_MP_MACHINE_ID</th>
      <th>PB_PRODUCT_ID</th>
      <th>GATHERDATETIME</th>
      <th>PM_MP_REJECTCODE_ID</th>
      <th>REJECTVALUE</th>
      <th>REJECTNAME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-07-17</td>
      <td>1</td>
      <td>105</td>
      <td>10001586</td>
      <td>2017-07-17 10:14:37</td>
      <td>105002</td>
      <td>15</td>
      <td>过 重</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-07-27</td>
      <td>1</td>
      <td>107</td>
      <td>10001586</td>
      <td>2016-07-27 15:57:07</td>
      <td>105003</td>
      <td>213</td>
      <td>软 点</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-07-27</td>
      <td>1</td>
      <td>107</td>
      <td>10001586</td>
      <td>2016-07-27 15:57:07</td>
      <td>105005</td>
      <td>208</td>
      <td>轻端剔出</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-06-28</td>
      <td>1</td>
      <td>116</td>
      <td>10001586</td>
      <td>2017-06-28 15:59:42</td>
      <td>107005</td>
      <td>3133</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-07-23</td>
      <td>3</td>
      <td>101</td>
      <td>10001586</td>
      <td>2016-07-23 01:41:00</td>
      <td>105001</td>
      <td>117</td>
      <td>过 轻</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2016-07-23</td>
      <td>3</td>
      <td>101</td>
      <td>10001586</td>
      <td>2016-07-23 01:41:00</td>
      <td>107003</td>
      <td>476</td>
      <td>空头</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2016-07-23</td>
      <td>3</td>
      <td>101</td>
      <td>10001586</td>
      <td>2016-07-23 01:41:00</td>
      <td>107004</td>
      <td>2292</td>
      <td>缺嘴棒</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2016-07-23</td>
      <td>3</td>
      <td>101</td>
      <td>10001586</td>
      <td>2016-07-23 01:41:00</td>
      <td>107005</td>
      <td>162</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2016-07-24</td>
      <td>3</td>
      <td>108</td>
      <td>10001586</td>
      <td>2016-07-24 07:17:08</td>
      <td>105001</td>
      <td>206</td>
      <td>过 轻</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2016-07-24</td>
      <td>3</td>
      <td>108</td>
      <td>10001586</td>
      <td>2016-07-24 07:17:08</td>
      <td>105002</td>
      <td>135</td>
      <td>过 重</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2016-07-24</td>
      <td>3</td>
      <td>108</td>
      <td>10001586</td>
      <td>2016-07-24 07:17:08</td>
      <td>105003</td>
      <td>53</td>
      <td>软 点</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2016-07-24</td>
      <td>3</td>
      <td>108</td>
      <td>10001586</td>
      <td>2016-07-24 07:17:08</td>
      <td>105005</td>
      <td>54</td>
      <td>轻端剔出</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2016-07-24</td>
      <td>3</td>
      <td>108</td>
      <td>10001586</td>
      <td>2016-07-24 07:17:08</td>
      <td>107001</td>
      <td>56</td>
      <td>漏气</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2016-07-24</td>
      <td>3</td>
      <td>108</td>
      <td>10001586</td>
      <td>2016-07-24 07:17:08</td>
      <td>107003</td>
      <td>6341</td>
      <td>空头</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2016-07-24</td>
      <td>3</td>
      <td>108</td>
      <td>10001586</td>
      <td>2016-07-24 07:17:08</td>
      <td>107004</td>
      <td>113</td>
      <td>缺嘴棒</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2016-07-24</td>
      <td>3</td>
      <td>108</td>
      <td>10001586</td>
      <td>2016-07-24 07:17:08</td>
      <td>107005</td>
      <td>211</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2016-07-23</td>
      <td>3</td>
      <td>101</td>
      <td>10001586</td>
      <td>2016-07-23 01:41:00</td>
      <td>105002</td>
      <td>81</td>
      <td>过 重</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2016-07-23</td>
      <td>3</td>
      <td>101</td>
      <td>10001586</td>
      <td>2016-07-23 01:41:00</td>
      <td>105004</td>
      <td>16</td>
      <td>硬 点</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2017-07-14</td>
      <td>3</td>
      <td>109</td>
      <td>10001586</td>
      <td>2017-07-14 05:54:47</td>
      <td>105004</td>
      <td>2</td>
      <td>硬 点</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2017-07-19</td>
      <td>3</td>
      <td>115</td>
      <td>10001586</td>
      <td>2017-07-19 08:00:03</td>
      <td>105003</td>
      <td>1539</td>
      <td>软 点</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2017-07-19</td>
      <td>3</td>
      <td>115</td>
      <td>10001586</td>
      <td>2017-07-19 08:00:03</td>
      <td>105005</td>
      <td>12</td>
      <td>轻端剔出</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2017-07-19</td>
      <td>3</td>
      <td>109</td>
      <td>10001586</td>
      <td>2017-07-19 07:19:40</td>
      <td>105003</td>
      <td>90</td>
      <td>软 点</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2017-07-19</td>
      <td>3</td>
      <td>109</td>
      <td>10001586</td>
      <td>2017-07-19 07:19:40</td>
      <td>105005</td>
      <td>74</td>
      <td>轻端剔出</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2017-07-19</td>
      <td>3</td>
      <td>115</td>
      <td>10001586</td>
      <td>2017-07-19 08:00:03</td>
      <td>105001</td>
      <td>113</td>
      <td>过 轻</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2015-11-28</td>
      <td>3</td>
      <td>116</td>
      <td>10001586</td>
      <td>2015-11-29 07:19:59</td>
      <td>105001</td>
      <td>180</td>
      <td>过 轻</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2015-11-28</td>
      <td>3</td>
      <td>116</td>
      <td>10001586</td>
      <td>2015-11-29 07:19:59</td>
      <td>107001</td>
      <td>51</td>
      <td>漏气</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2015-11-28</td>
      <td>3</td>
      <td>116</td>
      <td>10001586</td>
      <td>2015-11-29 07:19:59</td>
      <td>107003</td>
      <td>4234</td>
      <td>空头</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2015-11-28</td>
      <td>3</td>
      <td>116</td>
      <td>10001586</td>
      <td>2015-11-29 07:19:59</td>
      <td>107004</td>
      <td>19</td>
      <td>缺嘴棒</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2015-11-28</td>
      <td>3</td>
      <td>116</td>
      <td>10001586</td>
      <td>2015-11-29 07:19:59</td>
      <td>107005</td>
      <td>2466</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2016-10-09</td>
      <td>3</td>
      <td>113</td>
      <td>10001586</td>
      <td>2016-10-09 07:29:53</td>
      <td>107005</td>
      <td>1609</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>5087</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:22:53</td>
      <td>107001</td>
      <td>26</td>
      <td>漏气</td>
    </tr>
    <tr>
      <th>5088</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:22:53</td>
      <td>107003</td>
      <td>160</td>
      <td>空头</td>
    </tr>
    <tr>
      <th>5089</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:22:53</td>
      <td>107005</td>
      <td>116</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>5090</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:23:05</td>
      <td>105004</td>
      <td>2</td>
      <td>硬 点</td>
    </tr>
    <tr>
      <th>5091</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:23:05</td>
      <td>107001</td>
      <td>26</td>
      <td>漏气</td>
    </tr>
    <tr>
      <th>5092</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:23:05</td>
      <td>107005</td>
      <td>116</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>5093</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:23:10</td>
      <td>105004</td>
      <td>2</td>
      <td>硬 点</td>
    </tr>
    <tr>
      <th>5094</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:23:10</td>
      <td>107005</td>
      <td>116</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>5095</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:23:27</td>
      <td>105004</td>
      <td>2</td>
      <td>硬 点</td>
    </tr>
    <tr>
      <th>5096</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:23:27</td>
      <td>107005</td>
      <td>116</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>5097</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:23:44</td>
      <td>105004</td>
      <td>2</td>
      <td>硬 点</td>
    </tr>
    <tr>
      <th>5098</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:23:44</td>
      <td>107005</td>
      <td>116</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>5099</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:23:56</td>
      <td>105004</td>
      <td>2</td>
      <td>硬 点</td>
    </tr>
    <tr>
      <th>5100</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:23:56</td>
      <td>107005</td>
      <td>116</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>5101</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:24:01</td>
      <td>105004</td>
      <td>2</td>
      <td>硬 点</td>
    </tr>
    <tr>
      <th>5102</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:24:01</td>
      <td>107005</td>
      <td>116</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>5103</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:24:18</td>
      <td>105004</td>
      <td>2</td>
      <td>硬 点</td>
    </tr>
    <tr>
      <th>5104</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 02:24:18</td>
      <td>107005</td>
      <td>116</td>
      <td>手动剔出</td>
    </tr>
    <tr>
      <th>5105</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 05:32:57</td>
      <td>105009</td>
      <td>6</td>
      <td>SRM＿取样</td>
    </tr>
    <tr>
      <th>5106</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 05:32:05</td>
      <td>105003</td>
      <td>4</td>
      <td>软 点</td>
    </tr>
    <tr>
      <th>5107</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 05:32:06</td>
      <td>105005</td>
      <td>2</td>
      <td>轻端剔出</td>
    </tr>
    <tr>
      <th>5108</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 05:33:10</td>
      <td>105009</td>
      <td>6</td>
      <td>SRM＿取样</td>
    </tr>
    <tr>
      <th>5109</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 05:33:18</td>
      <td>105009</td>
      <td>6</td>
      <td>SRM＿取样</td>
    </tr>
    <tr>
      <th>5110</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 05:33:27</td>
      <td>105009</td>
      <td>6</td>
      <td>SRM＿取样</td>
    </tr>
    <tr>
      <th>5111</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 05:33:39</td>
      <td>105009</td>
      <td>6</td>
      <td>SRM＿取样</td>
    </tr>
    <tr>
      <th>5112</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 05:33:48</td>
      <td>105009</td>
      <td>6</td>
      <td>SRM＿取样</td>
    </tr>
    <tr>
      <th>5113</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 06:33:54</td>
      <td>105009</td>
      <td>6</td>
      <td>SRM＿取样</td>
    </tr>
    <tr>
      <th>5114</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 07:59:58</td>
      <td>105005</td>
      <td>39</td>
      <td>轻端剔出</td>
    </tr>
    <tr>
      <th>5115</th>
      <td>2017-06-27</td>
      <td>3</td>
      <td>102</td>
      <td>10001586</td>
      <td>2017-06-27 07:59:58</td>
      <td>105003</td>
      <td>50</td>
      <td>软 点</td>
    </tr>
    <tr>
      <th>5116</th>
      <td>2017-07-11</td>
      <td>2</td>
      <td>122</td>
      <td>10001586</td>
      <td>2017-07-12 00:00:02</td>
      <td>105009</td>
      <td>120</td>
      <td>SRM＿取样</td>
    </tr>
  </tbody>
</table>
<p>5117 rows × 8 columns</p>
</div>

### 卷接机剔除原因种类及数量排行

In [71]:
tb23.groupby(['PM_MP_REJECTCODE_ID', 'REJECTNAME']).size().sort_values(ascending=False)

PM_MP_REJECTCODE_ID  REJECTNAME
107003               空头            660
107004               缺嘴棒           658
105002               过 重           627
107001               漏气            579
107005               手动剔出          578
105004               硬 点           561
105001               过 轻           497
105005               轻端剔出          368
105003               软 点           367
105009               SRM＿取样        141
107006               成形缺陷           18
105006               淡色点            11
107002               稀释度             9
107007               金属颗粒            7
105008               印刷不良            6
105007               深色点             5
107011               光检系统            1
dtype: int64

### 所有设备空头剔除量排行

In [72]:
# tb23.query("PM_MP_REJECTCODE_ID == 107003").sort_values('REJECTVALUE', ascending=False)

### 设备114所有班次空头剔除量

In [73]:
tb23_kt = tb23.query("PM_MP_MACHINE_ID == '114' & PM_MP_REJECTCODE_ID == 107003").sort_values('GATHERDATETIME')
tb23_kt

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PRODUCEDATE</th>
      <th>PB_SHIFT_ID</th>
      <th>PM_MP_MACHINE_ID</th>
      <th>PB_PRODUCT_ID</th>
      <th>GATHERDATETIME</th>
      <th>PM_MP_REJECTCODE_ID</th>
      <th>REJECTVALUE</th>
      <th>REJECTNAME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2446</th>
      <td>2016-05-31</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-05-31 07:17:53</td>
      <td>107003</td>
      <td>3498</td>
      <td>空头</td>
    </tr>
    <tr>
      <th>3123</th>
      <td>2016-06-30</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-06-30 15:57:26</td>
      <td>107003</td>
      <td>7135</td>
      <td>空头</td>
    </tr>
    <tr>
      <th>2453</th>
      <td>2016-07-11</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-11 15:57:20</td>
      <td>107003</td>
      <td>12647</td>
      <td>空头</td>
    </tr>
    <tr>
      <th>3081</th>
      <td>2016-07-13</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2016-07-13 23:57:16</td>
      <td>107003</td>
      <td>10946</td>
      <td>空头</td>
    </tr>
    <tr>
      <th>2432</th>
      <td>2017-07-19</td>
      <td>3</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-19 08:00:05</td>
      <td>107003</td>
      <td>2529</td>
      <td>空头</td>
    </tr>
    <tr>
      <th>2192</th>
      <td>2017-07-27</td>
      <td>2</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-27 21:23:53</td>
      <td>107003</td>
      <td>2819</td>
      <td>空头</td>
    </tr>
    <tr>
      <th>2187</th>
      <td>2017-07-28</td>
      <td>1</td>
      <td>114</td>
      <td>10001586</td>
      <td>2017-07-28 15:18:59</td>
      <td>107003</td>
      <td>2153</td>
      <td>空头</td>
    </tr>
  </tbody>
</table>
</div>

In [74]:
# plt.figure(figsize=(12, 6))
# plt.plot(tb23_kt['GATHERDATETIME'], tb23_kt['REJECTVALUE'], 'o-')
# plt.show()

In [75]:
# to_echarts = tb46_dt[['TEST_ID', 'WEIGHT_VALUE', 'CIRCLE_VALUE', 'LENGTH_VALUE', 'PD_VALUE']][:100000]
# to_echarts.to_csv('to_echarts.csv')